<!-- schema.org markup -->
<meta itemprop="name" content="{{ if (eq .Kind "section") }}{{ .Title | singularize }}{{ else }}{{ .Title }}{{ end }}">
<meta itemprop="description" content='{{ if isset .Params "excerpt" }}{{ .Params.excerpt }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}'>

<!-- output images -->
{{ with .Params.images }}{{ range first 6 . }}
	<meta itemprop="image" content="{{ . }}">
{{ end }}{{ end }}

<!-- output all taxonomies as schema.org keywords -->
<meta itemprop="keywords" content="{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}" />

{{if .IsPage}}
<meta itemprop="wordCount" content="{{ .WordCount }}">
{{ end }}