{{ partial "head" . }}
<body>
	
	{{ partial "menu" . }}
	{{ partial "nav" . }}
	<div class="site-wrapper">
		
<!-- {{ printf "%#v" .Title }} -->

		{{ if eq .Title "Projects" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "project") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="project-list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.author }}
								<span class="project-list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</span>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ if eq .Title "Artifacts" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "artifact") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope  class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="artifact-list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.author }}
								<span class="artifact-list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</span>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ if eq .Title "Galleries" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "gallery") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="gallery-list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.author }}
								<span class="gallery-list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</span>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ if eq .Title "Events" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "event") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="item-list-title" itemprop="name headline">{{ .Title }}</p>
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ if eq .Title "Authors" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "author") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="item-list-title" itemprop="name headline">{{ .Title }}</p>
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ if eq .Title "Threads" }}
		<main>
			<div id="home">
				<ul class="items" id="posts">
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "thread") }}
				{{ range $paginator.Pages }}
				{{ if ne .Draft true}}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="item-list-title" itemprop="name headline">{{ .Title }}</p>
							</div>
						</a>
					</li>
				{{ end }}
				{{ end }}
				</ul>
			</div>
		</main>
		{{ end }}

		{{ partial "pagination" . }}
		{{ partial "footer" . }}
	</div>
	{{ partial "js" . }}

</body>
</html>