{{ partial "head" . }}
<body>

	{{ partial "navigation" . }}

		<div class="site-wrapper">

			{{ partial "breadcrumbs.html" . }}

			<main>
				<div id="home" class="list-wrapper">

					<ul class="items" id="posts">

					{{ $paginator := .Paginate (where (where .Data.Pages.ByDate.Reverse "Type" "not in"  (slice "landing" "solo" "json" "gallery")) "Draft" "!=" true ) }}
					{{ range $paginator.Pages }}
						{{ partial "card.html" . }}
					{{ end }}

					</ul>

				</div>
			</main>

			{{ partial "pagination" . }}
			{{ partial "footer" . }}
		</div>

	{{ partial "js" . }}

</body>
</html>
