{{ partial "head/head" . }}
<body>
{{ partial "menu" . }}
{{ partial "nav" . }}

<div class="site-wrapper">
<main>
<div id="home">
<ul class="items" id="posts">

{{ if eq .Title "Projects" }}
	{{ $paginator := .Paginate ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "project" ) "Draft" "ne" true ) ".Params.orphan" "!=" "true" ) }}
	{{ range $paginator.Pages }}
		{{ partial "list-item" . }}
	{{ end }}
{{ end }}

{{ if eq .Title "Artifacts" }}
	{{ $paginator := .Paginate ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "artifact" ) "Draft" "ne" true ) ".Params.orphan" "!=" "true" ) }}
	{{ range $paginator.Pages }}
		{{ partial "list-item" . }}
	{{ end }}
{{ end }}

{{ if eq .Title "Galleries" }}
	{{ $paginator := .Paginate ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "gallery" ) "Draft" "ne" true ) ".Params.orphan" "!=" "true" ) }}
	{{ range $paginator.Pages }}
		{{ partial "list-item" . }}
	{{ end }}
{{ end }}

{{ if eq .Title "Events" }}
	{{ $paginator := .Paginate ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "event" ) "Draft" "ne" true ) ".Params.orphan" "!=" "true" ) }}
	{{ range $paginator.Pages }}
		{{ partial "list-item" . }}
	{{ end }}
{{ end }}

{{ if eq .Title "Drafts" }}
	{{ $paginator := .Paginate ( where .Data.Pages.ByDate.Reverse "Draft" "eq" true ) }}
	{{ range $paginator.Pages }}
		{{ partial "list-item" . }}
	{{ end }}
{{ end }}

</ul>
</div>
</main>

{{ partial "pagination" . }}
{{ partial "footer" . }}
</div>

{{ partial "js" . }}
<script>
	footer = document.getElementById('footer');
	footer.style.display = 'none';
</script>

</body>
</html>