{{ partial "head" . }}

<body>

	{{ partial "navigation" . }}

		<div class="site-wrapper">

		<span class="bc-top">{{ partial "breadcrumbs.html" . }}</span>

		{{ if eq .Type "solo" }}
			<div class="single-wrapper-solo">
				<main role="main" class="item">
					<div class="text-body" itemprop="articleBody">
						{{ .Content }}
					</div>
				</main>
			</div>
		{{ else }}
			<div class="single-wrap">
				<main role="main" class="item">
					{{ partial "article.html" . }}
				</main>
			</div>
		{{ end }}


		{{ partial "footer" . }}
	</div>

	<!-- global footer js --> 
	{{ partial "js" . }}

	<!-- optionally insert shortcode js --> 
	{{ if ($.Scratch.Get "js") ne "" }}
		{{ ($.Scratch.Get "js") | safeHTML }}
	{{ end }}

</body>
</html>