{{ partial "head" . }}

<body>

	{{ partial "navigation" . }}

	<div class="site-wrapper">

		{{ if eq .Type "solo" }}
			<section class="single-wrap-solo">
				<main role="main" class="item">
						<div class="text-body" itemprop="articleBody">
						{{ .Content }}
						</div>
				</main>
			</section>
		{{ end }}

		{{ if eq .Type "project" }}
			<section class="single-wrap">
				<main role="main" class="item">
					{{ partial "items/project.html" . }}
				</main>
			</section>
		{{ end }}

		{{ if eq .Type "artifact" }}
			<section class="single-wrap">
				<main role="main" class="item">
					{{ partial "items/artifact.html" . }}
				</main>
			</section>
		{{ end }}

		{{ if eq .Type "event" }}
			<section class="single-wrap">
				<main role="main" class="item">
					{{ partial "items/event.html" . }}
				</main>
			</section>
		{{ end }}

		{{ if eq .Type "gallery" }}
			<section class="single-wrap">
				<main role="main" class="item">
					{{ partial "items/gallery.html" . }}
				</main>
			</section>
		{{ end }}

		{{ partial "footer" . }}
	</div>

	<!-- global footer js --> 
	{{ partial "js" . }}

	<!-- optionally insert shortcode js --> 
	{{ if ($.Scratch.Get "js") ne "" }}
		{{ ($.Scratch.Get "js") | safeHTML }}
	{{ end }}

</body>
</html>
