{{ partial "head" . }}
{{ partial "site-map" . }}

<main class="terms">

	<ul class="terms-list">
		{{ $taxonomyName := .Data.Plural }}
		{{ $isThread := eq .Type "thread" }}

		{{ range $pageName, $pageList := (where .Data.Terms "Draft" "!=" true) }}

			{{ $firstPage := index $pageList 0 }}

			{{ range $threadName := index $firstPage.Page.Params $taxonomyName }}

				{{ if eq ($threadName | urlize) $pageName }}


					<li class="term">
						<a href="{{ (printf "/%s/%s" $taxonomyName $pageName) | relURL }}" class="term-title">{{ $threadName | title }}</a>
						<span class="term-number">{{ len $pageList }}</span>

{{/*
						{{ if $isThread }}
							<span class="term-desc">{{ with $page.Params }}{{ . }}{{ end }}</span>
						{{ end }}
*/}}

					</li>
				{{ end }}
			{{ end }}
		{{ end }}
	</ul>

</main>

{{ partial "foot" . }}
{{ partial "tail" . }}
