{{ partial "head" . }}

<body>

	{{ partial "navigation" . }}

	<div class="site-wrapper">
		<main>
			<div id="home" class="taxonomy-wrapper">

				{{ $taxonomyName := .Data.Plural }}
				{{ $description := printf "%s-desc" .Data.Singular }}
				{{ $taxonomyDescription := index $.Site.Taxonomies $description }}

				<h2 class="taxonomy">{{ ($taxonomyName | title) }}</h2>

				<div class="taxonomy-list">
					<ul>
					{{ range $name, $pages := .Data.Terms }}
						{{ $page := index $pages 0 }}
						{{ $len := len $pages }}
						{{ range $friendly := index $page.Page.Params $taxonomyName }}
							{{ if eq ($friendly | urlize) $name }}
								<li>
									<a href="{{ (printf "/%s/%s" $taxonomyName $name) | relURL }}">{{ $friendly }}</a>
									&nbsp;<span class="nav-item-number">[ {{ $len }} ]<span>
								</li>
							{{ end }}
						{{ end }}

						{{ $descPages := index $taxonomyDescription $name }}
						{{ if len $descPages }}
						<li>
							{{ $descPage := index $descPages 0 }}
							<span class="term-desc">{{ $descPage.Page.Content }}</span>
						</li>
						{{ end }}
					{{ end }}
					</ul>
				</div>
			</div>
		</main>
	{{ partial "footer" . }}
	</div>

	<script>
		footer = document.getElementById('footer');
		try { footer.style.opacity = "1"; footer.style.height = "280px"; } catch(e) {"waiting for footer"};
	</script>

	{{ partial "js" . }}

</body>
</html>