{{ partial "head" . }}
{{ partial "site-map" . }}

<main class="terms">

	{{ $taxonomyName := .Data.Plural }}
	{{ $description := printf "%s-desc" .Data.Singular }}
	{{ $taxonomyDescription := index $.Site.Taxonomies $description }}

	<article>
		{{ .Content }}
	</article>

	<ul class="terms-list">
	{{ range $name, $pages := .Data.Terms }}
		{{ $page := index $pages 0 }}
		{{ $len := len $pages }}
		{{ range $friendly := index $page.Page.Params $taxonomyName }}
			{{ if eq ($friendly | urlize) $name }}
				<li>
					<a href="{{ (printf "/%s/%s" $taxonomyName $name) | relURL }}">{{ $friendly | title }}</a>
					&nbsp;<span class="nav-item-number">[ {{ $len }} ]<span>
				</li>
			{{ end }}
		{{ end }}

		{{ $descPages := index $taxonomyDescription $name }}
		{{ if len $descPages }}
		<li>
			{{ $descPage := index $descPages 0 }}
			<span class="term-desc">{{ $descPage.Page.Content }}</span>
		</li>
		{{ end }}
	{{ end }}
	</ul>

</main>

{{ partial "footer" . }}
{{ partial "footer-load" . }}
{{ partial "tail" . }}
