<article class="single-content">


	<h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>


	<div class="text-body" itemprop="articleBody">
		{{ .Content }}
	</div>
	<div class="feat share">
		<a href="//twitter.com/share" class="popup">
			<span class="icon-twitter"></span>
		</a>
		<a href="//twitter.com/share" class="popup">
			<span class="icon-facebook"></span>
		</a>
		<a href="//twitter.com/share" class="popup">
			<span class="icon-facebook"></span>
		</a>
	</div>

</article>