<div class="meta-wrapper">
	<div class="meta">

		<h1 class="page-title phrase" itemprop="name headline">{{ .Title }}</h1>

		<div class="meta-block">
			<span class="date">
				<time datetime="" itemprop="datePublished">
					{{ .Date.Format "2 January 2006" }}
				</time>
			</span>
		</div>

		{{ with .Params.author }}
		<div class="meta-block">
			<ul class="author">
				{{ range . }}
					<li>
						<a href="{{ $.Site.BaseURL  }}author/{{ . | urlize }}">{{ . }}</a>
					</li>
				{{ end }}
			</ul>
		</div>
		{{ end }}

		{{ if isset .Params "tag" }}
			<div class="meta-block">
				<ul class="thread-tag">
		{{ else if isset .Params "thread" }}
			<div class="meta-block">
				<ul class="thread-tag">
		{{ else }}
		{{ end }}

			{{ with .Params.thread }}
				{{ range . }}
					<li class="thread">
						<a href="{{ $.Site.BaseURL  }}thread/{{ . | urlize }}">~ {{ . }}</a>
					</li>
				{{ end }}
			{{ end }}

			{{ with .Params.tag }}
				{{ range . }}
					<li class="tag">
						<a href="{{ $.Site.BaseURL  }}tag/{{ . | urlize }}"># {{ . }}</a>
					</li>
				{{ end }}
			{{ end }}

		{{ if isset .Params "tag" }}
				</ul>
			</div>
		{{ else if isset .Params "thread" }}
				</ul>
			</div>
		{{ else }}
		{{ end }}

	</div>
</div>