<article class="single-content">

	<div style="background-image: url('{{ with .Params.cover }}{{ . }}{{ end }}')" class="cover"></div>

	{{ partial "items/meta-blocks" . }}

	<p class="splash-spacer">§</p>

	<div class="text-body hyphenate" itemprop="articleBody">
		{{ .Content }}
	</div>

	<div class="feat share">
		<a href="//twitter.com/share" class="popup">
			<span class="icon-twitter"></span>
		</a>
		<a href="//twitter.com/share" class="popup">
			<span class="icon-facebook"></span>
		</a>
		<a href="//twitter.com/share" class="popup">
			<span class="icon-facebook"></span>
		</a>
	</div>

	{{ if .NextInSection }}
		<a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
			<span class="nav-title nav-title-next">{{ with .Site.Params.newer }}{{ . }}{{ end }}</span> &rarr;
		</a>
	{{ end }}

	{{ if .PrevInSection }}
		<a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
			&larr; <span class="nav-title nav-title-prev">{{ with .Site.Params.older }}{{ . }}{{ end }}</span>
		</a>
	{{ end }}

</article>