<div id="foot" >

	<hr id="foot-hr" noshade>

	<div id="foot-inner">


		<div id="foot-links">
			<a target="_blank" href="http://researchtactics.com">Research Tactics</a>
		</div>


		<div id="foot-address">
			<p><a target="_blank" href="editorial@avant.org?subject=message%20via%20avant.org">Editorial@Avant.org</a></p>
			<p>Box 7R, 207 Avenue B</p>
			<p>New York, NY 10009</p>
		</div>

		<div id="foot-social">
			<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
				<i class="fa fa-creative-commons" aria-hidden="true"></i>
			</a>
			<a href="https://www.instagram.com/avantdotorg/" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
			<a href="https://twitter.com/avantdotorg" target="_blank">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="{{ $.Site.BaseURL }}index.xml" target="_blank">
				<i class="fa fa-rss"></i>
			</a>
		</div>


		<a id="foot-logo" href="http://avant.org/">
			<img class="logo" src="{{ $.Site.BaseURL }}logo.svg">
		</a>


		<div id="foot-newsletter">
			<form action="//avant.us3.list-manage.com/subscribe/post?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc" method="post" name="mc-embedded-subscribe-form" class="newsletter-signup validate newsletter-signup" target="_blank" autocomplete="off" novalidate>
				<input onfocus="this.placeholder = ''" onblur="this.placeholder = 'Newsletter '" value="" type="email" placeholder="Newsletter " name="EMAIL" class="email" id="mce-EMAIL" required>
				<div class="honeypot">
					<input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" tabindex="-1" value="">
				</div>
				<div class="clear">
					<input type="submit" value="→" name="subscribe" id="mc-embedded-subscribe" class="button js-submit">
				</div>
			</form>
		</div>


	</div>
</div>
