<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://npmcdn.com/flickity@1.1/dist/flickity.pkgd.min.js"></script>

<script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>

{{ "<!-- import main js -->" | safeHTML }}
<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>


{{ template "_internal/google_analytics.html" . }}

{{ "<!-- Syntax highlighting -->" | safeHTML }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
