<div class="menu transition">

	<nav>


		{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
		{{ $.Scratch.Add "path" .Site.BaseURL }}
		<ul class="nav-breadcrumbs">
			<li class="nav-home"><a href="/">Avant.org</a></li>

			{{ range $index, $element := split $url "/" }}
				{{ $.Scratch.Add "path" $element }}
				{{ if ne $element "" }}
					{{ if $index }}{{else}}
					<span class="nav-slash"> / </span>
					<li class="nav-parent"><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
					{{ $.Scratch.Add "path" "/" }}
					{{ end }}
				{{ end }}
			{{ end }}
			{{ if .IsPage }}<span class="nav-slash"> / </span><li class="nav-title"><a href='{{ .Permalink }}'>{{ .Title }}</a></li>{{ end }}
		</ul>

		<ul class="nav-items">
			<li><a href="{{ $.Site.BaseURL  }}project/">Project</a></li>
			<li><a href="{{ $.Site.BaseURL  }}artifact/">Artifact</a></li>
			<li><a href="{{ $.Site.BaseURL  }}gallery/">Gallery</a></li>
			<li><a href="{{ $.Site.BaseURL  }}event/">Event</a></li>
		</ul>
		<ul class="nav-meta">
			<li><a href="{{ $.Site.BaseURL  }}author/">Author</a></li>
			<li><a href="{{ $.Site.BaseURL  }}thread/">Thread</a></li>
			<li><a href="{{ $.Site.BaseURL  }}tag/">Tag</a></li>
		</ul>
		<ul class="nav-imprint">
			<li><a href="{{ $.Site.BaseURL  }}imprint/">Imprint</a></li>
		</ul>

		<div id="nav-social"> 
			<div id="twitter">
				<a class="social-link" href="http://twitter.com/avantdotorg" target="_blank"><span id="menu-twitter" class="social-icon el-icon-twitter"></span></a>
			</div>         
			<div id="facebook">
				<a class="social-link" href="http://facebook.com/avantdotorg" target="_blank"><span id="menu-twitter" class="social-icon el-icon-facebook"></span></a>
			</div>
			<div id="instagram">
				<a class="social-link" href="http://instagram/avantdotorg" target="_blank"><span id="menu-instagram" class="social-icon el-icon-instagram"></span></a>
			</div>
			<div id="github">
				<a class="social-link" href="http://github.com/avant" target="_blank"><i class="social-icon fa fa-github"></i></a>
			</div>
			<div id="mail">
				<a class="social-link" href="mailto:editorial@avant.org?subject=message%20via%20AVANT.org" target="_blank"><i class="social-icon fa fa-paper-plane-o"></i></a>
			</div>
		</div>

		<div class="nav-newsletter">
		<form action="//avant.us3.list-manage.com/subscribe/post?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc" method="post" name="mc-embedded-subscribe-form" class="newsletter-signup validate newsletter-signup" target="_blank" novalidate>

			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>

			<!-- bot honeypot -->
			<div style="position: absolute; left: -5000px;">
				<input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" tabindex="-1" value="">
			</div>

			<div class="clear">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button js-submit">
			</div>

		</form>
		<div>

	</nav>
</div>
