
<div class="logo-link-wrapper no-touch">
	<a class="logo-link">
		<!-- <img class="logo" src="{{ $.Site.BaseURL  }}logo.svg" alt=""> -->
		<img class="logo" src="{{ $.Site.BaseURL  }}logo_san_serif_layered.svg" alt="">
	</a>
</div>

<div class="nav-wrapper transition">

	<div class="nav-background"></div>

	<div class="nav">

		<div class="nav-fill"></div>

		<div class="nav-overlay">

			<!-- LINKS -->
			<div class="nav-links">
				<ul class="nav-home">
					<li><a href="{{ $.Site.BaseURL  }}">Avant.org</a></li>
				</ul>
				<div class="nav-spacer"></div>
				<ul class="nav-objects">
					<li><a class="upper" href="{{ $.Site.BaseURL  }}project/">Project</a></li>
					<li><a class="upper" href="{{ $.Site.BaseURL  }}artifact/">Artifact</a></li>
					<li><a class="upper" href="{{ $.Site.BaseURL  }}event/">Event</a></li>
					<li><a class="upper" href="{{ $.Site.BaseURL  }}gallery/">Gallery</a></li>
				</ul>
				<div class="nav-spacer"></div>
				<ul class="nav-taxonomies">
					<li><a href="{{ $.Site.BaseURL  }}author/">Author</a></li>
					<li><a href="{{ $.Site.BaseURL  }}thread/">Thread</a></li>
					<li><a href="{{ $.Site.BaseURL  }}tag/">Tag</a></li>
				</ul>
				<div class="nav-spacer"></div>
				<ul class="nav-imprint">
					<li><a class="upper" href="{{ $.Site.BaseURL  }}imprint/">Imprint</a></li>
				</ul>
			</div>


			<!-- NEWSLETTER -->
			<div class="nav-newsletter">
				<form action="//avant.us3.list-manage.com/subscribe/post?u=ce9d44831a234bd3f42ef5ca4&amp;id=297278e3fc" method="post" name="mc-embedded-subscribe-form" class="newsletter-signup validate newsletter-signup" target="_blank" autocomplete="off" novalidate>
					<!-- input -->
					<input onfocus="this.placeholder = ''" onblur="this.placeholder = 'Newsletter'" value="" type="email" placeholder="Newsletter" name="EMAIL" class="email" id="mce-EMAIL" required>
					<!-- honeypot -->
					<div class="honeypot">
						<input type="text" name="b_ce9d44831a234bd3f42ef5ca4_297278e3fc" tabindex="-1" value="">
					</div>
					<!-- submit -->
					<div class="clear">
						<input type="submit" value="&#xf105" name="subscribe" id="mc-embedded-subscribe" class="button js-submit" />
					</div>
				</form>
			</div>

			<!-- SOCIAL LINKS -->
			<div class="nav-social">
				<div class="social-link-wrapper" id="mail">
					<a class="social-link" href="mailto:editorial@avant.org?subject=message%20via%20AVANT.org" target="_blank"><i class="social-link-icon fa fa-reply" aria-hidden="true"></i></a>
				</div>
				<div class="social-link-wrapper" id="rss">
					<a class="social-link" href="http://avant.org/index.xml" target="_blank"><i class="social-link-icon fa fa-rss"></i></a>
				</div>
				<div class="social-link-wrapper" id="instagram">
					<a class="social-link" href="http://instagram/avantdotorg" target="_blank"><i class="social-link-icon fa fa-instagram" aria-hidden="true"></i></a>
				</div>
				<div class="social-link-wrapper" id="facebook">
					<a class="social-link" href="http://facebook.com/avantdotorg" target="_blank"><i class="social-link-icon fa fa-facebook" aria-hidden="true"></i></a>
				</div>
				<div class="social-link-wrapper" id="twitter">
					<a class="social-link" href="http://twitter.com/avantdotorg" target="_blank"><i class="social-link-icon fa fa-twitter" aria-hidden="true"></i></a>
				</div> 
			</div>

		</div>
	</div>
</div>
