<div id="site-map">

<!-- 	<a id="site-map-logo" href="{{ $.Site.BaseURL }}">
		<img class="logo" src="{{ $.Site.BaseURL }}logo.svg">
	</a> -->

	<!-- <a id="site-map-home" href="{{ $.Site.BaseURL }}">Avant.org</a> -->

	<a id="site-map-logo" href="{{ $.Site.BaseURL }}">
		<img class="logo" src="{{ $.Site.BaseURL }}logo.svg">
	</a>

	<ul id="site-map-type" class="site-map-base-links{{ if (eq .Kind "section") }} {{ .Title | singularize | lower }}{{ end }}

	{{ if (eq .Kind "page") }}{{ $section := .Section }}
		{{ with .Site.GetPage "section" $section }} {{ .Section | lower }}{{end}}
	{{ end }}

	">
		<li>
			<a href="{{ $.Site.BaseURL }}project/" class="project">Project</a>
			<span>{{ if (eq .Kind "page") }}{{ $section := .Section }}{{ if (eq $section "project") }} — {{ .Params.title }}{{ end }}{{ end }}</span>
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}event/" class="event">Event</a>
			<span>{{ if (eq .Kind "page") }}{{ $section := .Section }}{{ if (eq $section "event") }} — {{ .Params.title }}{{ end }}{{ end }}</span>
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}artifact/" class="artifact">Artifact</a>
			<span>{{ if (eq .Kind "page") }}{{ $section := .Section }}{{ if (eq $section "artifact") }} — {{ .Params.title }}{{ end }}{{ end }}</span>
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}gallery/" class="gallery">Gallery</a>
			<span>{{ if (eq .Kind "page") }}{{ $section := .Section }}{{ if (eq $section "gallery") }} — {{ .Params.title }}{{ end }}{{ end }}</span>
		</li>
	</ul>


	<ul id="site-map-meta" class="site-map-base-links{{ if (eq .Kind "taxonomyTerm") }} {{ .Title | lower }}{{ end }}{{ if (eq .Kind "taxonomy") }} {{ .Data.Singular | lower }}{{ end }}">
		<li>
			<a href="{{ $.Site.BaseURL }}thread/" class="thread">
				{{ if (eq .Kind "taxonomy") }}
					{{ if eq (.Data.Singular | lower) "thread" }}{{ .Title }} — {{ end }}
				{{ end }}Thread
			</a>
			{{ with .Params.thread }}
				<ul class="thread">
					{{ range . }}
						<li class="thread">
							<a href="{{ $.Site.BaseURL  }}thread/{{ . | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}tag/" class="tag">
				{{ if (eq .Kind "taxonomy") }}
					{{ if eq (.Data.Singular | lower) "tag" }}{{ .Title }} — {{ end }}
				{{ end }}Tag
			</a>
			{{ with .Params.tag }}
				<ul class="tag">
					{{ range . }}
						<li class="tag">
							<a href="{{ $.Site.BaseURL  }}tag/{{ . | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}author/" class="author">
				{{ if (eq .Kind "taxonomy") }}
					{{ if eq (.Data.Singular | lower) "author" }}{{ .Title }} — {{ end }}
				{{ end }}Author
			</a>
			{{ with .Params.author }}
				<ul class="author">
					{{ range . }}
						<li>
							<a href="{{ $.Site.BaseURL  }}author/{{ . | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</li>
		<li>
			<a href="{{ $.Site.BaseURL }}editor/" class="editor">
				{{ if (eq .Kind "taxonomy") }}
					{{ if eq (.Data.Singular | lower) "editor" }}{{ .Title }} — {{ end }}
				{{ end }}Editor
			</a>
			{{ with .Params.editor }}
				<ul class="editor">
					{{ range . }}
						<li>
							<a href="{{ $.Site.BaseURL  }}editor/{{ . | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</li>
	</ul>

	{{ if (eq .Kind "page") }}

		{{ if isset .Params "date" }}
			<div id="date">{{ .Date.Format "2 January 2006" }}</div>
		{{ end }}

	{{ end }}


	<div id="splash" class="{{ .Title | lower }} clearfix">
		
		{{ with .Params.cover }}<img class="cover-img" src="{{ . }}">{{ end }}
		
		{{ if ne .Kind "page" }}
			{{ .Content }}
		{{ end }}

	</div>

</div>

<!-- <hr id="site-map-hr" noshade> -->
