<div id="site-map">

	<!-- LOGO -->
	<div class="logo-link-wrapper no-touch">
		<a class="logo-link">
			<img class="logo" src="{{ $.Site.BaseURL }}logo_san.svg" alt="Avant.org logo">
		</a>
	</div>


	<!-- links -->

	<div class="links">

		<ul class="site-map-home">
			<li><a href="{{ $.Site.BaseURL }}">Avant.org</a></li>
		</ul>

		<ul class="site-map-imprint">
			<li><a href="{{ $.Site.BaseURL }}imprint/">Imprint</a></li>
		</ul>

		<ul class="site-map-type">
			<li><a class="upper" href="{{ $.Site.BaseURL }}project/">Project</a></li>
			<li><a class="upper" href="{{ $.Site.BaseURL }}artifact/">Artifact</a></li>
			<li><a class="upper" href="{{ $.Site.BaseURL }}event/">Event</a></li>
			<li><a class="upper" href="{{ $.Site.BaseURL }}gallery/">Gallery</a></li>
		</ul>

		<ul class="site-map-schema">
			<li><a href="{{ $.Site.BaseURL }}thread/">Thread</a></li>
			<li><a href="{{ $.Site.BaseURL }}tag/">Tag</a></li>
			<li><a href="{{ $.Site.BaseURL }}author/">Author</a></li>
		</ul>

	</div>


	<!-- BREADCRUMBS -->

	{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
	{{ $.Scratch.Add "path" .Site.BaseURL }}

		<!-- parent -->
		{{ range $index, $element := split $url "/" }}
		{{ $.Scratch.Add "path" $element }}
		{{ if ne $element "" }}
			{{ if $index }}{{else}}

				<span class="site-map-type-is"><a href='{{ $.Scratch.Get "path" }}'>{{ . | title }}</a></span>

				{{ $.Scratch.Add "path" "/" }}

			{{ end }}
		{{ end }}
		{{ end }}

		<!-- page -->
		{{ if .IsNode }}

			{{ $root := . }}
			{{ $title := (.Title | urlize | title) }}

			{{ if .Data.Pages }}

				{{ $page := (index .Data.Pages 0) }}
				{{ $plural := .Data.Plural }}
				{{ $singular := .Data.Singular }}

				{{ range $taxonomy, $value := .Data }}
				{{ if eq $taxonomy $singular }}

					{{ range (index $page.Params $plural) }}
					{{ if eq $title (. | urlize | title) }}

						<span class="bc-title nohyphen">{{ . | title }}</span>

						{{ $desc := printf "%s-desc" $taxonomy }}
						{{ $desctax := index $root.Site.Taxonomies $desc }}
						{{ $descpages := index $desctax (. | urlize) }}

						{{ if len $descpages }}
							{{ $descpage := index $descpages 0 }}
							<span class="term-desc">{{ $descpage.Page.Content }}</span>
						{{ end }}

					{{ end }}
					{{ end }}

				{{ end }}
				{{ end }}

			{{ end }}

		{{ else }}

			<ul class="title">
				{{ .Params.title }}
			</ul>

			{{ with .Params.author }}
				<ul class="author">
					{{ range . }}
						<li>
							<a href="{{ $.Site.BaseURL  }}author/{{ . | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}

			<div class=time>{{ if isset .Params "date" }}{{ .Date.Format "2 January 2006" }}{{ end }}</time>

			{{ if isset .Params "tag" }}
					<ul class="thread-tag">
			{{ else if isset .Params "thread" }}
					<ul class="thread-tag">
			{{ else }}
			{{ end }}

			{{ with .Params.thread }}
				{{ range . }}
					<li class="thread">
						<a href="{{ $.Site.BaseURL  }}thread/{{ . | urlize }}">{{ . }}</a>
					</li>
				{{ end }}
			{{ end }}

			{{ with .Params.tag }}
				{{ range . }}
					<li class="tag">
						<a href="{{ $.Site.BaseURL  }}tag/{{ . | urlize }}">{{ . }}</a>
					</li>
				{{ end }}
			{{ end }}

			{{ if isset .Params "tag" }}
				</ul>
			{{ else if isset .Params "thread" }}
				</ul>
			{{ else }}
			{{ end }}

		{{ end }}

	</span>
	</h1>

</div>
