</div>
</body>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- font loading -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/vendor/fontfaceobserver.standalone.js"></script>

<!-- carousel -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/vendor/flickity.pkgd.min.js"></script>

<!-- lazy loading -->
<script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>

<!-- js main -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>

<!-- infinite scroll -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/vendor/ias-min.js"></script>

<!-- syntax -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- google analytics -->
{{ template "_internal/google_analytics.html" . }}

<!-- optionally insert shortcode js --> 
{{ if ($.Scratch.Get "js") ne "" }}
	{{ ($.Scratch.Get "js") | safeHTML }}
{{ end }}

</html>
