{{ partial "head/head" . }}
<body>
	{{ partial "menu" . }}
	{{ partial "nav" . }}
	
		<main>
			<div id="home">
				<ul class="items" id="posts">

				{{ $paginator := .Paginate ( where ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "!=" "solo" ) "Draft" "!=" true ) ".Params.orphan" "!=" "true" ) ".Params.homepage" "!=" "false" ) }}
				{{ range $paginator.Pages }}

				{{ if eq .Type "project" }}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.cover }}
								<div class="list-cover" ><img width="600" class="img b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt="alt-text"></div>
								<script>;(function() {var bLazy = new Blazy();})();</script>
								{{ end }}
								{{ with .Params.author }}
								<div class="list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</div>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}

				{{ if eq .Type "artifact" }}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.cover }}
								<div class="list-cover" ><img width="600" class="img b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt="alt-text"></div>
								<script>;(function() {var bLazy = new Blazy();})();</script>
								{{ end }}
								{{ with .Params.author }}
								<div class="list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</div>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}

				{{ if eq .Type "event" }}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.cover }}
								<div class="list-cover" ><img width="600" class="img b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt="alt-text"></div>
								<script>;(function() {var bLazy = new Blazy();})();</script>
								{{ end }}
								{{ with .Params.author }}
								<div class="list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</div>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}

				{{ if eq .Type "gallery" }}
					<li itemscope class="post">
						<a href="{{ .Permalink }}" itemprop="url">
							<div class="p-wrap">
								<p class="list-title" itemprop="name headline">{{ .Title }}</p>
								{{ with .Params.cover }}
								<div class="list-cover" ><img width="600" class="img b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt="alt-text"></div>
								<script>;(function() {var bLazy = new Blazy();})();</script>
								{{ end }}
								{{ with .Params.author }}
								<div class="list-author">
									{{ range . }}
										<p>{{ . }}<p>
									{{ end }}
								</div>
								{{ end }}
							</div>
						</a>
					</li>
				{{ end }}

				{{ end }}
				</ul>
			</div>
		</main>

		{{ partial "pagination" . }}
		{{ partial "footer" . }}
	</div>

	{{ partial "js" . }}

<script>
	footer = document.getElementById('footer');
	footer.style.display = 'none';
</script>

</body>
</html>