{{ partial "head" . }}
<body>

	{{ partial "navigation" . }}

	<div class="site-wrapper">
		<main>
			<div id="home">
				<ul class="items" id="posts">

				{{ $paginator := .Paginate ( where ( where ( where ( where ( where .Data.Pages.ByDate.Reverse "Type" "!=" "solo" ) "Type" "!=" "json" ) "Draft" "!=" true ) ".Params.orphan" "!=" "true" ) ".Params.homepage" "!=" "false" ) }}
				{{ range $paginator.Pages }}
					{{ partial "items/list-item.html" . }}
				{{ end }}
				</ul>
			</div>
		</main>

	{{ partial "pagination" . }}
	{{ partial "footer" . }}

	</div>

	{{ partial "js" . }}

</body>
</html>