.items {
	overflow: hidden
}

.items li {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #1a1a1a;
}
.items li:first-child {
	border-top: 1px solid #1a1a1a;
}

.items li .p-wrap {
	padding: 2.5em 2em 2.5em 6em;
	background: #737373;
	transition: all .15s ease-in
}

.items li .p-wrap .author {
	color: #1a1a1a;
	font-size: 0.9em;
	margin-left: 1.5em;
}
.items li .p-wrap .author p {
	padding-left: 0.3em;
	margin-left: 0;
}
.items li .p-wrap:active {
	background: #6f5aec;
}

.items li .p-wrap:hover {
	background: #737373;
	padding-left: 3em
}

.items li .p-wrap:hover::after {
	content: '\2192';
	margin-left: .5em;
}

@media (max-width:942px) {
	.items li .p-wrap:hover::after {
		content: none;
		margin: 0
	}
}

@media (max-width:942px) {
	.items li .p-wrap {
		padding: 2em
	}
}
.items li .p-wrap p {
	display: inline;
	margin: 0 0 0 1em;
	font-size: 1.2em;
}

@media (max-width:942px) {
	.items li time {
		display: block
	}
}

.items li a {
	color: #fff;
	text-decoration: none
}