/*LOAD INDICATOR*/
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.pace .pace-progress {
	background: #2946b6;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 1px;
	box-shadow: 0px 0px 2px #6666ff;
	-webkit-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-moz-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-o-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-ms-transition: all 0.4s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	transition: all 0.5s cubic-bezier(0.75, 0.20, 0.20, 0.75);
}
.pace .pace-progress:after {
	-webkit-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-moz-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-o-transition: all 0.2s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	-ms-transition: all 0.4s cubic-bezier(0.75, 0.20, 0.20, 0.75);
	transition: all 0.5s cubic-bezier(0.75, 0.20, 0.20, 0.75);
}

/*PAGE REVEAL*/
.site-wrapper {
	opacity: 0;		/*temp editing*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.2s ease;
}
.load {
    opacity: 1;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}