/*APP STYLES*/
main,
article,
aside,
details,
figure,
footer,
header,
hgroup,
section,
summary,
.caption {
	display: block;
}

html {
	font-family: 'Tiempos Text', Georgia, serif;
	font-weight: 500;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	height: 100%;
}

input:active
input:focus,
a:active,
a:focus { outline: none; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

body,
td {
	font-family: 'Tiempos Text', Georgia, serif;
	font-weight: 500;
	font-size: 1.1em;
	color: #1a1a1a;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	margin: 0;
	background-color: #EDEDED;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}
@media (max-width:942px) {
	body {
		font-size: 1.125em;
	}
}

@media (max-width:642px) {
	body {
		font-size: .875em;
	}
}

.items {
	margin: 0;
	padding: 0;
}

/*TEXT HIERARCHY*/
h1,
h2,
h3,
h4,
h5,
h6,
h5,
h6 {
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 700;
}
h1 {
	font-size: 2em;
	margin: .67em 0;
}
h2 {
	font-size: 180%;
	margin: 1em 0 .5em
}
h3,
h4,
h5,
h6 {
	font-size: 80%;
	font-weight: 700;
	margin: 3.5em 0 .5em;
	color: #737373
}
.text-body a {
	text-decoration: none !important;
	color: #1a1a1a;
	-o-box-shadow: inset 0 -0.128em 0 0 #bfbfbf;
	-webkit-box-shadow: inset 0 -0.128em 0 0 #bfbfbf;
	-moz-box-shadow: inset 0 -0.128em 0 0 #bfbfbf;
	box-shadow: inset 0 -0.128em 0 0 #bfbfbf;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	padding-bottom: 0.04em;
}
.text-body a:hover {
	-webkit-box-shadow: inset 0 -0.128em 0 0 #1a1a1a;
	-moz-box-shadow: inset 0 -0.128em 0 0 #1a1a1a;
	box-shadow: inset 0 -0.128em 0 0 #1a1a1a;
}
a {
	color: #1a1a1a;
	text-decoration: none;
}
a:active,
a:hover {
	outline: 0
	color: #1a1a1a
}

p {
	font-size: 0.9em;
	margin: 1em 0;
	line-height: 1.7;
}

b,
strong {
	font-weight: 700;
}

.center {
	width: 100%;
	clear: both;
	display: block;
}
.center-inner {	
	margin: 0em auto;
	width:100%;
}
.center-inner .txt {
	display: block;
	max-width: 740px;
	margin: 0.5em auto;
}

.right {
	width: 100%;
	clear: both;
	display: block;
	position: relative;
}
.right-inner {
	float: right;
	width: 90%;
	margin-right: 3em;
}
.right-inner .txt {
	display: block;
	max-width: 940px;
	margin: 0 0 0 20%;
}

.left {
	width: 100%;
	clear: both;
	display: block;
}
.left-inner {
	float:left;
	width:100%;
	margin-left: 3em;
}
.left-inner .txt {
	margin: 0 20% 0 0;
	max-width: 740px;
}

.list-wrap {
	width: 100%;
	max-width: 740px;
	margin: 1em auto;
	font-family: 'Tiempos Text', Georgia, serif;
	z-index: 1
}
.list-wrap .single-content {
	padding: 0 2em
}
@media (max-width:642px) {
	.list-wrap .single-content {
		padding-bottom: 3.5em
	}
}
.list-wrap .feat {
	text-align: center;
	border-bottom: 1px dotted #e0e1e6;
	margin: 0 auto 3.5em
}
.list-wrap .feat a.popup {
	display: inline-block;
	position: relative;
	top: .7em;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	padding: 0 1em;
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}
.list-wrap .page-date {
	display: inline-block;
	position: relative;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-style: italic;
	font-size: 85%;
	text-align: center;
	font-style: italic;
	margin: 0 auto;
	padding: 0 1em;
	text-transform: none;
}
.list-wrap h1.page-title {
	font-size: 180%;
	line-height: 135%;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-style: bold;
	text-align: center;
}
.single-wrap {
	width: 100%;	
	z-index: 1
}
.single-wrap .single-content {
	padding: 0;
}
@media (max-width:642px) {
	.single-wrap .single-content {
		padding-bottom: 3.5em
	}
}
.single-wrap .feat {
	text-align: center;
}
.single-wrap .feat a.popup {
	display: inline-block;
	position: relative;
	top: .7em;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
	padding: 0 1em;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
@media (max-width:642px) {
	.single-wrap .feat a.popup {
		font-size: 150%
	}
}
.single-wrap .page-date {
	display: inline-block;
	position: relative;
	top: 0px;
	margin-top: 0px;
	font-size: 85%;
	text-align: center;
	font-style: italic;
	padding: 0 0em;
	text-transform: none;
}
.single-wrap .share {
	text-align: right;
}
.single-wrap h1.page-title {
	font-size: 180%;
	line-height: 135%;
	text-align: center;
	margin: 0 0 1em
}
.single-wrap ul,
.single-wrap ol {
	margin: 2em 0
}
.single-wrap ul li,
.single-wrap ol li {
	margin-bottom: .5em
}

.single-wrap .block ul,
.single-wrap .block ol {
	margin: 1em 0;
}

.single-wrap .block ul li,
.single-wrap .block ol li {
	margin-left: 1em;
	padding-left: 0.3em;
	font-size: 0.9em;
	font-weight: 600;
}

.init {
	float: left;
	margin: 8px 20px 5px 0px; /*top right bottom left*/
	padding: 2px 18px 10px 18px; /*top right bottom left*/
	font-size: 5em;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 800;
	color: #1a1a1a;
	line-height: 1;
	text-indent: 0;
	background: #fafafa;
}
p + .init {
  text-indent: 0;
  margin-top: 0;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
.spacer {
	text-align: center;
	margin-bottom:20px;
	letter-spacing: 0.5em;
}



/*ANNOTATION / NOTES*/

sup {
	top: -.4em;
	font-size: 85%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	padding-left: 0.1em;
}
sub {
	bottom: -.25em;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.footnote-ref a {	/*body anchor*/
	text-decoration: none;
	color: #2B4AB3;
	padding: 0 0.1.5em;
	font-weight: 600;
}
.footnote-return {	/*footnote anchor*/
	text-decoration: none;
	font-size: 90%;
	font-weight: 700 !important;
	top: -.1em !important;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	color: #2B4AB3 ! important;
}
.footnote-ref a,
.footnote-ref a:hover,
.footnote-return,
.footnote-return:hover {
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.footnotes h3 {
	margin-top: 1.5em;
}
.footnotes,
.footnotes a,
.footnotes ol li,
.footnotes ul li {
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 600;
	color: #1a1a1a;
}
.footnotes ol li p {
	font-size: inherit;
	margin: 0;
	line-height: normal;
}
.footnotes {padding: 0;}
.footnotes a {
	color: #1a1a1a;
}
.foot-hr {
	margin-top: 1.5em;
	border-style: solid;
	border-color: #1a1a1a;
}
.footnotes hr {
	display: none;
}
.footnotes ol,
.footnotes ul {
	padding-left: 1em;
	margin: 1em 0;
}
.footnotes ol li,
.footnotes ul li {
	padding-left: 0.2em;
}
.footnotes ul li + li {
	padding-top: 0.4em;
}

legend {
	border: 0;
	padding: 0
}

.box {
	margin: 10px;
	font: 16px 'Courier New';
	background-color: #fff;
	color: #1a1a1a;
	margin: 5px 0 0 15px;
	padding: 5px 10px;
	width: auto;
}

/*UI*/
.toggle {
	font: 16px 'Courier New';
	color: #666;
	display: block;
	margin-bottom: 5px;
	padding: 5px 10px;
	text-decoration: none;
}
.toggle:hover {
	text-decoration: underline;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button,
select {
	text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],
html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input {
	line-height: normal
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td,
th {
	padding: 0
}

footer {
	padding: 2em
}

footer {
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center
}
footer small {
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

::after,
::before {
	box-sizing: border-box
}

small {
	font-size: 60%
}

li {
	font-size: 0.9em;
	font-family: 'Tiempos Text', Georgia, serif;
	font-weight: 500;
	list-style-type: decimal
}

/*PAGE ELEMENTS*/

.meta {
	margin: 0 auto;
	text-align: center;
}

.meta-block {
	margin: 0 auto;
	display: block;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 700;
	padding: 0.2em 0;
	width: 70%;
}

.authors,
.threads,
.tags {
	font-size: 1.6em;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 800;
	color: #1a1a1a;
	bottom: -.16em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	line-height: 2.2em;
}

.author a {
	margin: 0 6px;
}
.thread a,
.tag a {
	border: 3px solid #1a1a1a;
	padding: 1px 5px 4px 5px;
	margin: 0 3px 0 3px;
	font-size: 0.9em;
	color: #1a1a1a;
	text-decoration: none;
	white-space: pre;
	background-color: #fafafa;
}
.tag a:hover {
	color: #fafafa;
	background-color: #1a1a1a;
}

.h-wrap h1.title {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: 400
}

.h-wrap h1.title a {
	color: #1a1a1a;
	text-decoration: none
}

.h-wrap h1.title a:hover {
	color: #737373
}

/*BLOCK QUOTE*/
.single-wrap .block {
	font-size: 1em;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 600;
	color: #1a1a1a;
	border-left: 10px solid #1a1a1a;
	padding: 0 0 0 1.4em;
	margin: 1.1em 0 1.1em 0;
	line-height: 1.5em;
}
.single-wrap .block p {
	margin: 0.5em 0 0.5em 0;
	line-height: 155%;
}
.single-wrap .block p + p {
	margin: 0.8em 0 0.5em 0;
}
.block-inner {
	line-height: 165%;
	text-align: right;
}
.block-inner p {
	margin-top: 0.5em;	
}
@media (max-width:942px) {
	.single-wrap .block {
		margin-left: 0
	}
}
.single-wrap .block p {
	padding-left: 0!important;
	padding-right: 0!important
}

/*PULLQUOTE*/
blockquote {
	font-size: 1.8em;
	font-family: 'Tiempos Headline', Georgia, serif;
	font-weight: 800;
	color: #1a1a1a;
	padding: 0 0 0 0;
	margin-top: 2em 0 2em -3.5em;
}
blockquote p {
	margin: 0;
	line-height: 1.5em;
}
#prev,
#next {
	text-decoration: none;
	border: 1px solid #1a1a1a;
	padding: 10px;
	line-height: 1;
	border-radius: 25px;
	bottom: 40px;
	color: #1a1a1a;
	display: inline-block;
}
#prev {
	align: left;
	left: 40px
}
#next {
	align: right;
	right: 40px
}
#prev:active,
#next:active {
	border-color: #39f
}
.nav-title {
	display: none
}
.nav-title-prev {
	margin-left: 10px;
	margin-right: 5px
}
.nav-title-next {
	margin-right: 10px;
	margin-left: 5px
}
#prev:hover .nav-title,
#next:hover .nav-title {
	display: inline
}
.pagination {
	overflow: hidden;
	margin-top: 40px;
	color: #ccc;
	text-align: center;
	border: 1px solid #eee
}
.pagination a,
.pagination span {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 20px;
	text-decoration: none
}
.pagination a:first-child,
.pagination span:first-child {
	text-decoration: none;
	border-right: 1px solid #eee;
}
.pagination a:hover {
	text-decoration: none;
}




/* Imprint tabs */
.tabs {
width: 100%;
display: inline-block;
padding: 1em;
}

/* tab links */

.tab-links {
	margin: 0 !important;
}

/* clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 0px 5px 0px 5px !important;
	float: left;
	list-style: none;
}

.tab-links a {
	padding: 9px 15px;
	display: inline-block;
	background: #666;
	font-size: 16px;
	font-weight: 600;
	color: white;
	transition: all ease-in-out 0.15s;
	border: none;
	text-decoration: none;
	border: none;
}

.tab-links a:hover {
	background: #d3d3d3;
	text-decoration: none;
	border: none;
}

li.active a, li.active a:hover {
	background: #fff;
	color: #1a1a1a;
}

/* tab content */
.tab-content {
	padding: 15px;
	background: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}