//-------------
// TIEMPOS TEXT
//-------------

@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Light.eot')
	src: url('../fonts/TiemposTextWeb-Light.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Light.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Regular.eot')
	src: url('../fonts/TiemposTextWeb-Regular.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Regular.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Medium.eot')
	src: url('../fonts/TiemposTextWeb-Medium.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Medium.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Semibold.eot')
	src: url('../fonts/TiemposTextWeb-Semibold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Semibold.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Semibold.woff') format('woff')
	font-weight: 600
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Bold.eot')
	src: url('../fonts/TiemposTextWeb-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Bold.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Bold.woff') format('woff')
	font-weight: 700
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-Black.eot')
	src: url('../fonts/TiemposTextWeb-Black.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-Black.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-Black.woff') format('woff')
	font-weight: 800
	font-style: normal
}


//--------------------
// TIEMPOS TEXT ITALIC
//--------------------

@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-LightItalic.eot')
	src: url('../fonts/TiemposTextWeb-LightItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-LightItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-LightItalic.woff') format('woff')
	font-weight: 300
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-RegularItalic.eot')
	src: url('../fonts/TiemposTextWeb-RegularItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff')
	font-weight: 400
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-MediumItalic.eot')
	src: url('../fonts/TiemposTextWeb-MediumItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-MediumItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-MediumItalic.woff') format('woff')
	font-weight: 500
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-SemiboldItalic.eot')
	src: url('../fonts/TiemposTextWeb-SemiboldItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-SemiboldItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-SemiboldItalic.woff') format('woff')
	font-weight: 600
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-BoldItalic.eot')
	src: url('../fonts/TiemposTextWeb-BoldItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-BoldItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-BoldItalic.woff') format('woff')
	font-weight: 700
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Text'
	src: url('../fonts/TiemposTextWeb-BlackItalic.eot')
	src: url('../fonts/TiemposTextWeb-BlackItalic.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposTextWeb-BlackItalic.woff2') format('woff2'),
		 url('../fonts/TiemposTextWeb-BlackItalic.woff') format('woff')
	font-weight: 800
	font-style: italic
}


//-----------------
// TIEMPOS HEADLINE
//-----------------

@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Light.eot')
	src: url('../fonts/TiemposHeadlineWeb-Light.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Light.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Regular.eot')
	src: url('../fonts/TiemposHeadlineWeb-Regular.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Regular.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Medium.eot')
	src: url('../fonts/TiemposHeadlineWeb-Medium.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Medium.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Medium.woff') format('woff')
	font-weight: 500
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Semibold.eot')
	src: url('../fonts/TiemposHeadlineWeb-Semibold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Semibold.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Semibold.woff') format('woff')
	font-weight: 600
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Bold.eot')
	src: url('../fonts/TiemposHeadlineWeb-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Bold.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Bold.woff') format('woff')
	font-weight: 700
	font-style: normal
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-Black.eot')
	src: url('../fonts/TiemposHeadlineWeb-Black.eot?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-Black.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-Black.woff') format('woff')
	font-weight: 800
	font-style: normal
}


//------------------------
// TIEMPOS HEADLINE ITALIC
//------------------------

@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-LightItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-LightItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-LightItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-LightItalic.woff') format('woff')
	font-weight: 300
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-RegularItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-RegularItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-RegularItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-RegularItalic.woff') format('woff')
	font-weight: 400
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-MediumItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-MediumItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-MediumItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-MediumItalic.woff') format('woff')
	font-weight: 500
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-SemiboldItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-SemiboldItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-SemiboldItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-SemiboldItalic.woff') format('woff')
	font-weight: 600
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-BoldItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-BoldItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-BoldItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-BoldItalic.woff') format('woff')
	font-weight: 700
	font-style: italic
}
@font-face {
	font-family: 'Tiempos Headline'
	src: url('../fonts/TiemposHeadlineWeb-BlackItalic.eot')
	src: url('../fonts/TiemposHeadlineWeb-BlackItalic?iefix') format('embedded-opentype'),
		 url('../fonts/TiemposHeadlineWeb-BlackItalic.woff2') format('woff2'),
		 url('../fonts/TiemposHeadlineWeb-BlackItalic.woff') format('woff')
	font-weight: 800
	font-style: italic
}

html,
body,
td {
	font-variant-ligatures: common-ligatures
	-webkit-font-variant-ligatures: common-ligatures
	font-variant-ligatures: common-ligatures
	-webkit-font-feature-settings: "kern"
	font-feature-settings: "kern"
	font-kerning: normal
	-moz-font-feature-settings:"liga=1, dlig=1, frac=1" 
	-moz-font-feature-settings:"liga", "dlig", "frac"  // new syntax for FF 15+
	-ms-font-feature-settings:"liga", "dlig", "frac" 
	-o-font-feature-settings:"liga", "dlig", "frac" 
	-webkit-font-feature-settings:"liga", "dlig", "frac" 
	font-feature-settings:"liga", "dlig", "frac"
}

h3,
h5,
small {
	-moz-font-feature-settings:"liga=1, dlig=1, frac=1, smcp=1" 
	-moz-font-feature-settings:"liga", "dlig", "frac", "smcp"  // new syntax for FF 15+
	-ms-font-feature-settings:"liga", "dlig", "frac", "smcp" 
	-o-font-feature-settings:"liga", "dlig", "frac", "smcp" 
	-webkit-font-feature-settings:"liga", "dlig", "frac", "smcp" 
	font-feature-settings:"liga", "dlig", "frac", "smcp"
	font-variant: small-caps
	font-size: 110%
}


//--------
// ELUSIVE
//--------

.el-icon-link:before {
	content: '\e68f'
}
.el-icon-twitter:before {
	content: '\e61b'
}
.el-icon-facebook:before {
	content: '\e6d9'
}
.el-icon-instagram:before {
	content: '\e698'
}
.el-icon-cc:before {
	content: '\e702'
}
