#foot
	width: 100%
	height: 0
	padding: 0
	margin: 3em 0 0 0
	font-family: headline
	font-size: f15
	font-weight: 600
	color: bw1
	transform-style: preserve-3d
	bottom: 0
	margin: 0 auto 0
	opacity: 0
	transition: opacity 0.3s ease-in
	width: 100%

#foot-inner
	position: relative
	height: 100%
	margin: 2em 3em

	a
		color: bw1
		vertical-align: baseline
		transition: all 0.2s ease

		&:hover
			underline: white bw1

	p
		font-size: f14

#foot-hr
	margin: 0 3rem
	background: bw1


//-------
// social
//-------

#foot-social
	position: absolute
	bottom: 0.8rem
	color: bw1
	display: block
	text-align: right
	width: 100%

	a
		display: inline
		margin: 0 8px

		&:first-child
			margin-left: 0

		&:last-child
			margin-right: 0

#foot-logo
	position: absolute
	display: block
	left: calc(50% - 38px)
	bottom: calc(50% - 34px)
	margin: 0

	#a
		fill: #e3e3e3

	#circle
		fill: none

	#fill
		fill: white

//------------
// small width
//------------

@media (max-width: small-width)
	#foot-links
		top: 0

	#foot-logo
		width: 60px
		left: calc(50% - 30px)

	#foot-social
		margin: 0 auto
		width: 100%
		text-align: center
		bottom: 2rem


//------
// links
//------

#foot-links
	font-family: programm
	position: absolute
	color: bw1
	right: 0
	top: 1.2rem
	text-align: right


//--------
// address
//--------

#foot-address
	font-family: programm
	top: 1.2rem
	width: fit-content

	:first-child
		margin-bottom: 1rem


// ----------
// newsletter
//-----------

#foot-newsletter
	position: absolute
	height: 2.5rem
	bottom: 1.2rem
	z-index: 5
	display: block

	.newsletter-signup
		background: none
		height: 100%
		margin: 20px
		margin-top: 10px

	form
		overflow: auto
		padding-left: 0.2em
		margin: 0 auto !important
		width: 130px
		border: 0
		border-bottom: 2px solid bw1

		.honeypot
			position: absolute
			left: -5000px

	input
		-webkit-appearance: none
		border-radius: 0
		font-family: programm

		&[type='email']
			height: 2rem
			background: none
			vertical-align: middle
			float: left
			width: 85%
			font-weight: 500
			font-size: f15
			color: bw1
			outline: none
			border: 0
			padding: 0 0 0 8px
			text-align: left

		+placeholder()
			text-align: left
			color: bw1

		&.button
			text-align: left
			font-size: f15
			height: 2rem
			width: 10%
			padding: 0 0 2.8rem 0
			vertical-align: middle
			border-left: 0
			color: bw1
			font-weight: 600
			background: none
			outline: none
			box-shadow: none
			border: 0

			&:hover
				color: bw5

@media (max-width: small-width)
	#foot-newsletter
		z-index: 2
		margin: 0
		width: 180px
		display: block
		left: calc(50% - 90px)
		position: absolute
