footer
	padding: 2em
	width: 100%
	bottom: 0
	left: 0
	text-align: center

	.social-link
		color: bw1
		text-decoration: none
		display: inline
		margin: 0 1em

.foot-wrapper
	width: 100%
	height: 0
	padding: 0
	margin: 3em 0 0 0
	font-family: headline
	font-size: 0.9em
	line-height: 2em
	font-weight: 600
	color: bw1
	border-top: dotted 2px bw5
	transform-style: preserve-3d
	bottom: 0
	margin: 0 auto 0
	opacity: 0
	transition: opacity 0.3s ease-in

	.foot
		position: relative
		top: 50%
		transform: translateY(-50%)
		margin: 25px 45px

		a
			color: bw1
			position: relative
			vertical-align: baseline
			transition: all 0.2s ease
			display: block
			text-align: right

			&:hover
				color: bw5

		.foot-links
			position: absolute
			color: bw1
			right: 0
			bottom: 2.5em

		.foot-social
			position: absolute
			color: bw1
			margin-top: 5rem
			display: block
			text-align: right
			width: 100%

			a
				display: inline
				padding: 8px
				margin: 2px

		.foot-logo
			width: 45px
			background: bw1
			fill: bw10
			display: block
			margin: 0 auto

		.foot-license
			position: absolute
			color: bw1
			text-align: left
			bottom: 0.8rem

			a
				box-shadow: none !important

		#foot-cc
			color: bw1
			font-size: 1.8em
			transition: all 0.2s ease
			margin-top: 0.7em

		#foot-cc:hover
			color: bw5


	//------------
	// large width
	//------------

	@media (max-width: large-width)
		.foot
			margin: 25px 45px

			.foot-logo
				margin-bottom: 8.5rem

			.foot-links
				bottom: 3.5rem

			.foot-social
				margin-top: 7.5rem


	//------------
	// small width
	//------------

	@media (max-width: small-width)
		.foot
			margin: 25px

			.foot-logo
				margin-bottom: 8em

			.foot-license
				margin-left: 0.5em

			.foot-links
				bottom: 4.5em
				margin-right: 0.5em

			.foot-social
				margin: 8em auto 0 auto
				width: 100%
				text-align: center
