footer
	width: 100%
	height: 280px
	padding: 0
	margin: 3em 0 0 0
	font-family: headline
	font-size: 0.9em
	line-height: 2em
	font-weight: 600
	color: white
	background-color: bw1
	transform-style: preserve-3d
	bottom: 0
	margin: 0 auto 0


	div.links
		position: absolute
		color: bw5
		right: 40px
		margin-top: 2.2em

	@media (max-width: mid-width)
		div.links
			right: 20px


	a
		color: bw5 !important
		position: relative
		vertical-align: baseline
		transition: all 0.2s ease
		display: block
		text-align: right

	a:hover
		color white !important

	div
		position: relative
		top: 50%
		transform: translateY(-50%)

	.logo-foot
		width: 55px
		background: bw5

	@media (max-width: mid-width)
		.logo-foot
			margin-bottom: 7em

	.license
		position: absolute
		color: bw5
		text-align: left
		left: 40px

	@media (max-width: mid-width)
		.license
			left: 20px

	.license a
		box-shadow: none !important

	#foot-cc
		color: bw5
		font-size: 1.8em
		transition: all 0.2s ease

	#foot-cc:hover
		color: white

	.foot-social
		margin-top: 4em

	.social-link
		margin: 0 0.8em !important
