// tab box
.tabs
	width: 90%
	display: inline-block
	margin 0 auto
	display: block
	margin-top: 10rem

	.tab-links
		display: block
		text-align: center
		margin: 0 auto
		padding: 0

		&:after
			display: block
			clear: both
			content: ''

		.tab-link a
			font-weight: 600

		li
			display: inline-block
			margin: 0 1%
			list-style: none

			&:first-child
				margin: 0 1% 0 0

			&:last-child
				margin: 0 0 0 1%

	a
		padding: 5px 0
		display: inline-block
		background: bw10
		transition: border-bottom t0
		text-decoration: none
		border-bottom: 2px solid bw1 //-----------
		font-family: headline

		&:hover
			text-decoration: none
			border-bottom: 2px solid bw1

	.active a
		text-decoration: none
		border-bottom: 2px solid bw5

		&:hover
			border-bottom: 2px solid bw1

	a,
	span,
	p,
	li
		font-weight: 500
		font-size: f16
		color: bw1

.single-wrapper-solo h2
	margin-left: 4em

// tab content
.tab-content
	padding: 4em 0.5em
	height: 125%

	table
		width: 90%
		margin: 0 5% 0 5%

	td
		width: 50%
		font-size: f16
		padding: 0 0 0.8em 0

	.tab
		display: none

		&.active
			display: block

	#collaborators-tab ul
		columns: 3
		list-style-type: none
		display: block
		margin: 0 auto
		font-weight: 500
		list-style: inside none
		column-break-inside: avoid
		page-break-inside: avoid
		column-fill: balance

		li
			margin: 1.6rem 1.6rem 0 1.6rem
			display: inline-block
			width: 100%
			white-space: nowrap
			vertical-align: top

			a,
			span
				white-space: nowrap
				vertical-align: super
				padding-bottom: 3px

			a:hover
				border-bottom: 2px solid bw1

@media (max-width: large-width)
	.tab-content
		#collaborators-tab ul
			columns: 2

@media (max-width: medium-width)
	.tab-content
		#collaborators-tab ul
			columns: 1
