// tab box
.tabs
	width: 90%
	display: inline-block
	padding: 1em
	margin 0 auto
	display: block

.tab-links
	margin: 0px

.tab-links:after
	display: block
	clear: both
	content: ''

.tab-links li
	margin: 0px 0px 0px 0px !important;
	float: left
	list-style: none

.tab-links a
	padding: 8px 12px
	display: inline-block
	background: bw10
	font-size: 1em
	font-weight: 600
	color: bw1
	transition: all ease-in-out 0.15s
	border: none
	text-decoration: none
	border: none
	box-shadow: none
	border: solid 1px bw10
	border-bottom: none
	font-family: headline

.tab-links a:hover
	background: bw10
	text-decoration: none
	border: none
	box-shadow: none
	border: solid 1px bw10
	color: bw5
	border-bottom: none
	border-top: solid 1px bw10

.tab-links .active a
	background: bw10
	border: solid 1px bw1
	border-bottom: none
	box-shadow: 0px 2px 0px -1px rgba(237,237,237,1)

.single-wrap-solo h2
	margin-left: 4em

// tab content
.tab-content
	padding: 4em 0.5em
	height: 120%
	border solid 1px bw1

@media (max-width: small-width)
	.tab-content
		padding: 4em 0.5em
		height: 200%

.tab-content table
	width: 90%
	margin: 0 5% 0 5%

.tab-content td
	width: 50%
	font-size: 0.9em
	padding: 0 0 0.8em 0

.tab
	display: none

.tab.active
	display: block

#collaborators-tab ul
	columns: 2
	list-style-type: none
	display: block
	margin: 0 auto
	font-weight: 500

	li
		margin-top: 0.8em
