#home
	min-height: 70%

	.items
		overflow: hidden
		width 100%
		margin-top: 20px

		li
			display: block
			margin: 0em auto
			width: 50%
			min-width: calc(414px - 10%)

			a
				color: bw1
				text-decoration: none
				margin: 4em 0
				display: block

			.p-wrap
				padding: 2.5em
				transition: border t0
				border: solid 1px bw1
				font-family: headline
				position: relative
				background: bw10
				transition: background t0

				&:hover
					background: white
					border: solid 1px bw1

				.list-title
					font-weight: 700
					font-size: 1.5em
					color: bw1
					margin: 0.5em 0 1em 0

				.list-author 
					font-weight: 500
					font-size: 1.2em
					text-align: right
					display: block
					margin-top: 2em

					p
						margin: 0.4em 0


// LARGE-WIDTH
@media (max-width: large-width)
	#home
		.items li .p-wrap:hover::after
			content: none
			margin: 0

		.items li .p-wrap
			padding: 2em

		.items li time
			display: block

// SMALL-WIDTH
@media (max-width: small-width)
	#home
		.items li
			width: 90%
			margin 1em auto
			min-width: 240px

//-------------------------------
// infinite scroll load animation
//-------------------------------

.spinner
	margin: 20px auto 0 auto
	width: 70px
	text-align: center

	.bounce1
		animation-delay: -0.32s

	.bounce2
		animation-delay: -0.16s

	& > div
		width: 6px
		height: 8px
		margin: 0 5px;
		background-color: bw1
		display: inline-block
		animation: sk-bouncedelay 1.4s infinite ease-in-out both

@keyframes sk-bouncedelay
	0%, 80%, 100%
		transform: scale(0)
	40%
		transform: scale(1)
