.list-wrapper
	max-width: 700px
	margin: 0 auto

#pagination
	display: none

.posts
	list-style: none

	.post
		margin-bottom: 3rem

//-------------------------------
// infinite scroll load animation
//-------------------------------

#homepage .spinner
	bottom: -62px !important

.spinner
	width: 100%
	text-align: center
	z-index: 6
	display: block
	margin: 0 auto

	&.load
		bottom: -92px
		margin-top: 40px

	.bounce1
		animation-delay: -0.32s

	.bounce2
		animation-delay: -0.16s

	& > div
		width: 6px
		height: 8px
		margin: 0 5px;
		background-color: bw1
		display: inline-block
		animation: sk-bouncedelay 1.4s infinite ease-in-out both

	@keyframes sk-bouncedelay
		0%, 80%, 100%
			transform: scale(0)
		40%
			transform: scale(1)

@media (max-width: large-width)
	.spinner
		width: 100%



