

// -----------
// page reveal
// -----------

.site-wrapper
   opacity: 0
   top: 0
   left: 0
   width: 100%
   transition: all 0.2s ease
   height: 100%
   overflow: inherit

.load
   opacity: 1

@keyframes fadein
   from
      opacity: 0
   to
      opacity: 1
