//---------
// DEFAULTS
//---------

*
	-webkit-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0

main,
article,
aside,
details,
figure,
footer,
header,
hgroup,
section,
summary,
.caption
	display: block

html
	font-family: 'Tiempos Text', Georgia, serif
	font-weight: 500
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	width: 100%
	height: 100%
    min-height: 100%
	position: relative

main
	margin-bottom: 80px
	min-height: 60%

iframe
	border:none

input:active,
input:focus,
a:active,
a:focus
	outline: none

.clearfix:after
	content: '.'
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0
	
.clearfix
	display: inline-block

html[xmlns] .clearfix
	display: block

* html .clearfix
	height: 1%

span
	letter-spacing: none

body,
td
	font-family: 'Tiempos Text', Georgia, serif
	font-weight: 400
	font-size: 1.1em
	color: bw1
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	background-color: white
	margin: 0
	background-color: bw10
	-webkit-transition: opacity 0.3s ease-in
	-moz-transition: opacity 0.3s ease-in
	-o-transition: opacity 0.3s ease-in
	-ms-transition: opacity 0.3s ease-in
	transition: opacity 0.3s ease-in

@media (max-width:942px)
	body
		font-size: 1.125em

@media (max-width:642px)
	body
		font-size: .875em

.items
	margin: 0
	padding: 0


//---------------
// TEXT HIERARCHY
//---------------

h1,
h2,
h3,
h4,
h5,
h6,
h5,
h6
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 700

h1
	font-size: 2em
	margin: .67em 0

h2
	font-size: 130%
	margin: 1.5em 0 .5em

h3,
h4,
h5,
h6
	font-weight: 700
	margin: 1em 0 .5em
	color: bw4

.text-body a
	text-decoration: none !important
	color: bw1
	word-break: break-word
	transition: all 0.2s ease
	-moz-transition: all 0.28s ease
	-o-transition: all 0.28s ease
	-webkit-transition: all 0.28s ease
	-o-box-shadow: inset 0 -0.1em 0 0 bw7
	-webkit-box-shadow: inset 0 -0.1em 0 0 bw7
	-moz-box-shadow: inset 0 -0.1em 0 0 bw7
	box-shadow: inset 0 -0.1em 0 0 bw7

.text-body a:hover
	-o-box-shadow: inset 0 -0.1em 0 0 bw3
	-webkit-box-shadow: inset 0 -0.1em 0 0 bw3
	-moz-box-shadow: inset 0 -0.1em 0 0 bw3
	box-shadow: inset 0 -0.1em 0 0 bw3

a
	color: bw1
	text-decoration: none

a:active,
a:hover
	outline: 0
	color: bw1

p
	font-size: 0.9em
	margin: 1em 0
	line-height: 1.4

b,
strong
	font-weight: 700

.center
	width: 100%
	clear: both
	display: block

.center-inner
	margin: 0 20%
	width: 60%

@media (max-width:600px)
	.center-inner
		margin: 0 5%
		width: 90%

.text-body .txt
	margin: 0 auto

.center-inner .txt
	display: block
	max-width: 740px
	margin: 0.5em auto

.right
	width: 100%
	clear: both
	display: block
	position: relative

.right-inner
	float: right
	width: 60%
	margin: 0 35% 0 5%

.right-inner .txt
	display: block
	max-width: 940px
	margin: 0 0 0 20%

.left
	width: 100%
	clear: both
	display: block

.left-inner
	float: left
	width: 60%
	margin: 0 5% 0 35%

.left-inner .txt
	margin: 0 20% 0 0
	max-width: 740px

.list-wrap
	width: 100%
	max-width: 740px
	margin: 1em auto
	font-family: 'Tiempos Text', Georgia, serif
	z-index: 1

.list-wrap .single-content
	padding: 0 2em

@media (max-width:642px)
	.list-wrap .single-content
		padding-bottom: 3.5em

.list-wrap .feat
	text-align: center
	border-bottom: 1px dotted bw9
	margin: 0 auto 3.5em

.list-wrap .feat a.popup
	display: inline-block
	position: relative
	top: .7em
	font-size: 100%
	text-align: center
	text-decoration: none
	padding: 0 1em
	transition: all .2s ease-in
	-webkit-transition: all .2s ease-in

.list-wrap .page-date
	display: inline-block
	position: relative
	font-family: 'Tiempos Headline', Georgia, serif
	font-style: italic
	font-size: 85%
	text-align: center
	font-style: italic
	margin: 0 auto
	padding: 0 1em
	text-transform: none

.list-wrap h1.page-title
	font-size: 120%
	line-height: 135%
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 700

.single-wrap
	width: 100%	
	z-index: 1

.single-wrap .single-content
	padding: 0

@media (max-width:642px)
	.single-wrap .single-content
		padding-bottom: 3.5em

.single-wrap .feat
	text-align: center

.single-wrap .feat a.popup
	display: inline-block
	position: relative
	top: 0.7em
	font-size: 130%
	text-align: center
	text-decoration: none
	padding: 0 1em
	transition: all .2s ease
	-webkit-transition: all .2s ease

@media (max-width:642px)
	.single-wrap .feat a.popup
		font-size: 150%

.single-wrap .share
	text-align: right

.single-wrap ul
	margin: 2em 0 0 1em
	list-style-type: circle

.single-wrap ul,
.single-wrap ol
	margin: 2em 0

.single-wrap ul li,
.single-wrap ol li
	margin-bottom: .5em

.single-wrap .block ul,
.single-wrap .block ol
	margin: 1em 0

.single-wrap .block ul li,
.single-wrap .block ol li
	margin-left: 1em
	padding-left: 0.3em
	font-size: 0.9em
	font-weight: 600


.init
	float: left
	margin: 5px 20px 0px 0px
	padding: 0px 18px 7px 18px
	font-size: 4.3em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 800
	color: bw1
	line-height: 1
	text-indent: 0
	background: white

p + .init
	text-indent: 0
	margin-top: 0

hr
	-moz-box-sizing: content-box
	box-sizing: content-box
	height: 0

.spacer
	text-align: center
	margin-top: 20px
	margin-bottom:30px
	letter-spacing: 1em
	font-size: 0.8em

.div
	margin: 0 auto
	text-align: left

//-----------
// ANNOTATION
//-----------

sup
	top: -.4em
	font-size: 80%
	line-height: 0
	position: relative
	vertical-align: baseline
	padding-left: 0.1em

sub
	bottom: -.25em
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline

// body anchor
.footnote-ref a
	text-decoration: none
	color: blue2
	padding: 0 0.2em
	font-weight: 500

// footnote anchor
.footnote-return
	text-decoration: none
	font-size: 90%
	font-weight: 700 !important
	top: -.1em !important
	line-height: 0
	position: relative
	vertical-align: baseline

.footnote-return a
	color: blue2 !important
	font-weight: 700 !important

.footnote-ref a,
.footnote-ref a:hover,
.footnote-return a,
.footnote-return a:hover
	-o-box-shadow: none !important
	-webkit-box-shadow: none !important
	-moz-box-shadow: none !important
	box-shadow: none !important

.footnote-ref a:hover,
.footnote-return a:hover
	color: bw1 !important

.footnotes h3
	margin-top: 1.5em

.footnotes,
.footnotes a,
.footnotes ol li,
.footnotes ul li
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 500
	color: bw1

.footnotes ol li p
	font-size: inherit
	margin: 0
	line-height: normal

.footnotes
	padding: 0
	font-size: 0.9em
	
.footnotes a
	color: bw1

.foot-hr
	margin-top: 1.5em
	border-style: solid
	border-color: bw1

.footnotes hr
	display: none

.footnotes ol,
.footnotes ul
	padding-left: 1em
	margin: 1em 0

.footnotes ol li,
.footnotes ul li
	padding-left: 0.2em

.footnotes ul li + li
	padding-top: 0.4em

legend
	border: 0
	padding: 0

.box
	margin: 10px
	font: 16px 'Courier New'
	background-color: white
	color: bw9
	margin: 5px 0 0 15px
	padding: 5px 10px
	width: auto

.caption
	font-size: 0.8em
	padding: 1em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 600
	color: bw5
	margin: 0 auto
	text-align: center

//------------
// UI ELEMENTS
//------------

.toggle
	font: 16px 'Courier New'
	color: bw6
	display: block
	margin-bottom: 5px
	padding: 5px 10px
	text-decoration: none

.toggle:hover
	text-decoration: underline

button,
input,
optgroup,
select,
textarea
	color: inherit
	font: inherit
	margin: 0

button
	overflow: visible

button,
select
	text-transform: none

button,
html input[type=button],
input[type=reset],
input[type=submit]
	-webkit-appearance: button
	cursor: pointer

button[disabled],
html input[disabled]
	cursor: default

button::-moz-focus-inner,
input::-moz-focus-inner
	border: 0
	padding: 0

input
	line-height: normal

input[type=checkbox],
input[type=radio]
	box-sizing: border-box
	padding: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	height: auto

input[type=search]
	-webkit-appearance: textfield
	-moz-box-sizing: content-box
	-webkit-box-sizing: content-box
	box-sizing: content-box

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration
	-webkit-appearance: none

input:-webkit-autofill
	background-color: white !important

fieldset
	border: 1px solid silver
	margin: 0 2px
	padding: .35em .625em .75em

textarea
	overflow: auto

optgroup
	font-weight: 700

table
	border-collapse: collapse
	border-spacing: 0

td,
th
	padding: 0

footer
	padding: 2em

footer
	width: 100%
	bottom: 0
	left: 0
	text-align: center

::after,
::before
	box-sizing: border-box

small
	font-size: 60%

li
	font-size: 0.9em
	font-family: 'Tiempos Text', Georgia, serif
	font-weight: 500


//--------------
// PAGE ELEMENTS
//--------------

.meta-box
	position: absolute
	top: 0
	right 0
	width: 30%
	padding-right: 1.8em

@media (max-width:600px)
	.meta-box
		position: relative
		margin: 1em auto
		width: 90%

.meta
	margin-top: 38%

@media (max-width:600px)
	.meta
		width: 100%
		margin-top: 1.5em

.splash-spacer
	margin: 5% auto
	text-align: center
	letter-spacing: 0.5em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 700

.meta-block
	display: block
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 700
	padding: 0.2em 0
	width: 70%

@media (max-width:600px)
	.meta-block
		margin: 1em auto

.single-wrap h1.page-title
	font-size: 1.3em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 700
	margin: 0 0 0.2em 0

.single-wrap .page-date
	font-size: 0.8em
	margin: 0
	font-weight: 700
	color: bw5
	margin: 1em 0 0.2em 0

.tag-block
	border solid 1px bw1
	padding 1em
	margin 1.5em 0
	width: 75%

@media (max-width:600px)
	.tag-block
		margin: 0 auto

.author,
.thread
	margin: 0.7em 0

@media (max-width:600px)
	.author,
	.thread,
	.page-date
		text-align: center

.author a,
.thread a
	bottom: -.16em
	position: relative
	vertical-align: baseline
	line-height: 1.2em
	margin: 0
	transition: all 0.2s ease
	-moz-transition: all 0.28s ease
	-o-transition: all 0.28s ease
	-webkit-transition: all 0.28s ease
	-o-box-shadow: inset 0 -0.1em 0 0 bw7
	-webkit-box-shadow: inset 0 -0.1em 0 0 bw7
	-moz-box-shadow: inset 0 -0.1em 0 0 bw7
	box-shadow: inset 0 -0.1em 0 0 bw7
	white-space: nowrap3

.author a:hover,
.thread a:hover
	-o-box-shadow: inset 0 -0.1em 0 0 bw3
	-webkit-box-shadow: inset 0 -0.1em 0 0 bw3
	-moz-box-shadow: inset 0 -0.1em 0 0 bw3
	box-shadow: inset 0 -0.1em 0 0 bw3

.authors a
	margin: 0 0.7em 0 0
	line-height: 2em
	white-space: nowrap

.tag
	line-height: 1.2em
	font-size: 1.1em
	font-weight: 600
	margin: 0

.tag a
	padding: 1px 8px 4px 8px
	margin: 0
	font-size: 0.7em
	color: bw1
	text-decoration: none
	white-space: pre
	display: block

.tag a:hover
	color: white
	background: bw1

.h-wrap h1.title
	display: inline-block
	margin: 0
	padding: 0
	font-weight: 400

.h-wrap h1.title a
	color: bw1
	text-decoration: none

.h-wrap h1.title a:hover
	color: bw5

// block quote
.single-wrap .block
	font-size: 1em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 600
	color: bw1
	border-left: 10px solid bw1
	padding: 0 0 0 1.4em
	margin: 1.1em 0 1.1em 0
	line-height: 1.5em

.single-wrap .block p
	margin: 0.5em 0 0.5em 0
	line-height: 155%

.single-wrap .block p + p
	margin: 0.8em 0 0.5em 0

.block-inner
	line-height: 165%
	text-align: right

.block-inner p
	margin-top: 0.5em	

@media (max-width:942px)
	.single-wrap .block
		margin-left: 0

.single-wrap .block p
	padding-left: 0 !important
	padding-right: 0 !important

// pullquote
blockquote
	font-size: 1.8em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 800
	color: bw1
	padding: 0 0 0 0
	margin: 1em 0 1.5em 0

blockquote p
	margin: 0
	line-height: 1.5em

#prev,
#next
	text-decoration: none
	border: 1px solid bw1
	padding: 10px
	line-height: 1
	border-radius: 25px
	bottom: 40px
	color: bw1
	display: inline-block
	border-radius: 0
	width 150px
	font-weight: 600
	font-size: 1em
	display: none

#prev span,
#next span
	font-weight: 600
	font-size: 1em
	display: inline-block

#prev
	align: left
	left: 40px
	margin-left: 20px

#next
	align: right
	right: 40px
	margin-right: 20px

#prev:active,
#next:active
	border-color: bw5

.nav-title
	display: none

.nav-title-prev
	margin-left: 10px
	margin-right: 5px

.nav-title-next
	margin-right: 10px
	margin-left: 5px

#prev:hover .nav-title,
#next:hover .nav-title
	display: inline

.pagination
	overflow: hidden
	margin-top: 40px
	color: bw8
	text-align: center
	border: 1px solid bw9

.pagination a,
.pagination span
	box-sizing: border-box
	float: left
	width: 50%
	padding: 20px
	text-decoration: none

.pagination a:first-child,
.pagination span:first-child
	text-decoration: none
	border-right: 1px solid bw9

.pagination a:hover
	text-decoration: none

//---------------
// TAXONOMY PAGES
//---------------

.taxonomy
	margin 2em 0 0 4em

.taxonomy-list
	margin: 1em 0 0 6em

.item-title
	margin 2em 0 0 4em


footer
	width: 100%
	height: 280px
	padding: 0
	margin: 3em 0 0 0
	font-family: 'Tiempos Headline', Georgia, serif
	font-size: 0.9em
	line-height: 2em
	font-weight: 600
	color: white
	background-color: bw1
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	transform-style: preserve-3d
	bottom: 0
	margin: 0 auto 0


footer div.links
	position: absolute
	color: bw5
	right: 40px
	margin-top: 2.2em

@media (max-width:600px)
	footer div.links
		right: 20px


footer a
	color: bw5 !important
	position: relative
	vertical-align: baseline
	transition: all 0.2s ease
	-moz-transition: all 0.28s ease
	-o-transition: all 0.28s ease
	-webkit-transition: all 0.28s ease
	display: block
	text-align: right

footer a:hover
	color white !important

footer div
	position: relative
	top: 50%
	transform: translateY(-50%)

.logo-foot
	width: 55px
	background: bw5
	
@media (max-width:600px)
	.logo-foot
		margin-bottom: 7em

.license
	position: absolute
	color: bw5
	text-align: left
	left: 40px

@media (max-width:600px)
	.license
		left: 20px

.license a
	box-shadow: none !important
	-o-box-shadow: none !important
	-webkit-box-shadow: none !important
	-moz-box-shadow: none !important
	box-shadow: none !important

#foot-cc
	color: bw5
	font-size: 1.8em
	transition: all 0.2s ease
	-moz-transition: all 0.28s ease
	-o-transition: all 0.28s ease
	-webkit-transition: all 0.28s ease

#foot-cc:hover
	color: white

.foot-social
	margin-top: 4em

.social-link
	margin: 0 0.8em !important