// --------
// DEFAULTS
// --------

*
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

html
	font-family: text
	font-weight: 500
	text-size-adjust: 100%
	height: 100%
	width: 100%
	min-height: 100%
	max-width: 100%
	overflow-x: hidden

body,
td
	font-size: f15
	font-family: text
	font-weight: 400
	color: bw1
	margin: 0
	background-color: bw10
	transition: opacity t0
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased

th
	text-align: left

.site-wrapper
	-webkit-overflow-scrolling: touch
	top: 0
	position: absolute

.hyphenate
	hyphens: auto

.donthyphenate
	hyphens: none

iframe
	border:none

ul
	padding: 0
	margin: 0

hr
	box-sizing: inherit
	border: none
	height: 2px


main
	width: 900px
	margin: 0 auto
	margin-bottom: 215px
	min-height: 70%

@media (max-width: large-width)
	main
		width: 600px

@media (max-width: medium-width)
	main
		width: 300px


input:active,
input:focus,
a:active,
a:focus
	outline: none

.clearfix:after
	content: '.'
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0

.clearfix
	display: inline-block

html[xmlns] .clearfix
	display: block

* html .clearfix
	height: 1%

span
	letter-spacing: none


@media (max-width: small-width)
	html body main
		margin-bottom: 195px

@media (max-width: large-width)
	body
		font-size: f9

.items
	margin: 0
	padding: 0


// -----------
// page reveal
// -----------

.site-wrapper
	opacity: 0
	top: 0
	left: 0
	width: 100%
	transition: all 0.2s ease
	height: 100%
	overflow: inherit

.load
	opacity: 1

@keyframes fadein
	from
		opacity: 0
	to
		opacity: 1


// --------------
// TEXT HIERARCHY
// --------------

h1,
h2,
h4,
h6
	font-family: headline
	font-weight: 600
	color: bw1

h1
	font-size: f22
	margin: .67em 0

h2
	font-size: f20
	margin: 1.5em 0 .5em

h3
	font-size: f18

h5
	font-size: f16

h3,
h5
	font-weight: 600
	margin: 1em 0 .5em
	color: bw1
	font-family: text



a
	color: bw1
	text-decoration: none

	&:active,
	&:hover
		outline: 0
		color: bw1

p
	font-size: f15
	margin: 0 auto
	line-height: 145%
	hanging-punctuation: first

	&:empty
		margin: 0 !important

.small
	font-size: 90%

b,
strong
	font-weight: 600

.spacer
	text-align: center
	margin: 35px auto 40px auto
	letter-spacing: 1em
	font-size: 0.8em

.div
	margin: 0 auto
	text-align: left


//------------
// UI ELEMENTS
//------------

.toggle
	font: 16px 'Courier New'
	color: bw6
	display: block
	margin-bottom: 5px
	padding: 5px 10px
	text-decoration: none

.toggle:hover
	text-decoration: underline

button,
input,
optgroup,
select,
textarea
	color: inherit
	font: inherit
	margin: 0

button
	overflow: visible

button,
select
	text-transform: none

button,
html input[type=button],
input[type=reset],
input[type=submit]
	-webkit-appearance: button
	cursor: pointer

button[disabled],
html input[disabled]
	cursor: default

button::-moz-focus-inner,
input::-moz-focus-inner
	border: 0
	padding: 0

input
	line-height: normal

input[type=checkbox],
input[type=radio]
	box-sizing: border-box
	padding: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	height: auto

input[type=search]
	-webkit-appearance: textfield
	-moz-box-sizing: content-box
	-webkit-box-sizing: content-box
	box-sizing: content-box

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration
	-webkit-appearance: none

input:-webkit-autofill
	background-color: white !important

fieldset
	border: 1px solid silver
	margin: 0 2px
	padding: .35em .625em .75em

textarea
	overflow: auto

optgroup
	font-weight: 700

table
	border-collapse: collapse
	border-spacing: 0

td,
th
	padding: 0

::after,
::before
	box-sizing: border-box

small
	font-size: 60%

li
	font-size: 0.9em
	font-family: text
	font-weight: 500

.not-found-wrapper
		position: relative
		top: 50%
		transform: translateY(-50%)

.not-found
	text-align: center
