//---------
// DEFAULTS
//---------

audio, canvas, progress, video
	display: inline-block
	vertical-align: baseline
	
audio:not([controls])
	display: none
	height: 0


//-----------
// GALLIERIES
//-----------

// .main-gallery
// 	margin: 0 0 70px 0

.gallery
	margin-bottom: 2em

// .gallery-cell
// 	width: 100%
// 	height: 200px
// 	margin-right: 10px
// 	background: bw3
// 	counter-increment: gallery-cell

// // cell number
// .gallery-cell:before
// 	display: block
// 	text-align: center
// 	content: counter(gallery-cell)
// 	line-height: 200px
// 	font-size: 80px
// 	color: white

// .gallery img
// 	width: 100%

.flickity-page-dots
	bottom: -30px !important

// dots
.flickity-page-dots .dot
	width: 6px !important
	height: 6px !important
	opacity: 1
	background: bw3 !important
	border: none
	border-radius: 0 !important
	margin: 0 14px !important
	
// selected dot
.flickity-page-dots .dot.is-selected
	background: bw2


.gallery
	background: none
	padding: 25px 0px 35px 0px
	overflow-x: hidden
	overflow-y: hidden

.gallery-cell {
	width: 66%
	margin-right: 10px
	background: bw10
	position: relative
	top: 50%
	transform: translateY(-50%) !important
}

.gallery-cell-image
	display: block
	margin: 0 auto
	max-width: 100%
	opacity: 0
	-webkit-transition: opacity 0.4s
	transition: opacity 0.4s

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror
	opacity: 1

.flickity-prev-next-button previous,
.flickity-prev-next-button next,
.flickity-prev-next-button
	background: none !important
	height: 60px !important
	width: 60px !important
	top: 48% !important

.flickity-prev-next-button .arrow
	fill: white !important
	opacity: 0.5

.flickity-prev-next-button svg
	height: 120% !important
	width: 120% !important
	top: -5% !important
	left: 0 !important

//-------------
// LAZY LOADING
//-------------

.list-cover
	width: 95%
	display: block
	margin: 0 auto
	height: auto

.list-cover img
	width: 600px

@media (max-width:642px)
	.list-cover
		width: 100%

.b-lazy
	-webkit-transition: all 400ms ease-in
	-moz-transition: all 400ms ease-in
	-o-transition: all 400ms ease-in
	transition: all 400ms ease-in
	max-width: 100%
	opacity: 0
	max-width: 100%
	margin-top: -10px

.b-lazy.b-loaded
	opacity: 1
	margin-top: 0px

//------------
// SOUND & IMG
//------------

.media-box
	margin: 0em 0 0.5em 0
	display: block
	width: 100%

.audio-box
	margin: 1.5em 0 2.5em !important

audio
	display: block

.media-box-inner
	display: block
	margin: 0 auto

.single-video
	display: block
	margin: 0 auto

.img-box p
	margin-bottom: 0

.video-container,
.soundcloud-container
	border:none
	margin:0 auto
	display: absolute
	height: auto
	width: auto

.video-container
	position: relative
	padding-bottom: 53%  // 16:9
	padding-top: 25px
	height: 0

.video-container iframe
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

// .embed-container {
// 	position: relative;
// 	padding-bottom: 56.25%;
// 	height: 0;
// 	overflow: hidden;
// 	max-width: 100%;
// } 

// .embed-container iframe,
// .embed-container object,
// .embed-container embed { 
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%; 
//  }


.soundcloud-container iframe
	width:100%

.img,
.audio
	margin: 0 auto
	padding-top: 0.5em
	display: block

.img-right-left
	float: left
	margin-right: 2.5em
	margin-top: 0.5em

svg:not(:root)
	overflow: hidden

.media-text
	font-size: 0.85em
	padding: 1em 1em 0.5em 1em
	font-family: 'Tiempos Headline', Georgia, serif
	font-weight: 500
	color: bw5
	margin: 0 auto

.single-wrap img
	width: 100%

// cover images
.cover
	margin: 9% 0 0 7.5%
	width: 60%
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-repeat: no-repeat
	background-position: center center 

@media (max-width:600px)
	.cover
		width: 100%
		margin 0 auto
