
[hidden],
template
	display: none

//-----
// MENU
//-----

.nav-title
	display: none

.nav-title-prev
	margin-left: 10px
	margin-right: 5px

.nav-title-next
	margin-right: 10px
	margin-left: 5px

#prev:hover .nav-title,
#next:hover .nav-title
	display: inline

.nav-wrapper
	display: block
	position: fixed
	z-index: 200
	cursor: pointer
	opacity: 0.95
	top: 1.2em
	left: 1.2em
	width: 45px
	height: 45px

	.nav-link
		display: block
		border: 1px solid bw1
		transition: border 0.03s ease-in-out
		fill: bw1
		transition: fill 0.03s ease-in-out

	.nav-link.open,
	.nav-link:hover
		border: 1px solid blue0
		fill: blue0

	@media (max-width: mid-width)
		.nav-link.open
			border: 1px solid bw9
			fill: bw9

.menu .bio h1 a
	text-decoration: none

	:hover
		opacity: 1


//-----
// MENU
//-----

.menu
	z-index: 100
	opacity: 0
	overflow: hidden
	box-sizing: border-box
	padding-right: 1em
	transition: opacity 0.07s ease-in-out
	padding: 0

.nav-back
	width: 0%
	height: 0%
	position: fixed
	z-index: 0

.menu.toggled
	opacity: 1
	transition: opacity 0.07s ease-in-out

	nav
		top: 50%
		transform: translateY(-50%)
		z-index: 1

	.nav-back
		width: 100%
		height: 100%

nav
	position: fixed
	display: block
	margin-right: -300px
	right: 50%
	top: -1000px
	height: 450px
	width: 600px

@media (max-width: mid-width)

	.menu,
	nav
		bottom: 0
		top: 0
		left: 0
		right: 0
		margin: 0
		padding: 0
		height: 100% !important
		width: 100% !important

	.nav-breadcrumbs li
		font-size: 1.2em

		.links
			position: relative
			top: 30%
			transform: translateY(-50%) 

		.links ul
			margin: 0 2em !important
		
		.links ul li
			margin: 2em 0 !important
			padding: 0
		
		.links ul li a
			margin: 0
			padding: 0.5em

		.menu.toggled nav
			top: 0%
			transform: translateY(0%)
			height: 100%

	.close svg path
			fill: bw9

.menu.toggled .menu-fill
	background: bw1
	opacity: 0.98
	width: 100%
	height: 100%
	position: absolute
	z-index: -1
	border: 1px solid bw2

.menu-overlay
	padding: 1em
	z-index: 2
	height: 100%

@media (max-width: mid-width)
	.menu-overlay
		padding-top: 4.5em
	
	.nav-breadcrumbs
		margin: 1em

nav h6
	text-align: left
	margin-top: 2em
	margin-bottom: 1em
	color: bw9
	padding-bottom: .5em
	border-bottom: 1px solid bw9

nav ul
	margin: 1.5em 1em
	display: inline-block

nav ul li
	list-style-type: none

nav ul li a
	text-decoration: none
	margin: 0
	color: bw9
	font-weight: 500
	text-decoration: none
	display: block

nav ul li a:hover
	color: blue0

.menu
	.links
		margin: 0 auto 0.5em auto
		text-align: center
		font-size: 1.2em

	.links ul
		margin: 0 1em

	.links ul li
		margin: 2em 0em
		transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-16deg)
		border: 1px solid rgb(0, 0, 0)
		border: 1px solid rgba(0, 0, 0, 0)
		-webkit-background-clip: padding-box
		background-clip: padding-box

	.links ul li:hover
		color: bw1
		border: 1px solid blue0

		a
			color: blue0

	.links ul li a
		padding: 0.8em 1em 1em 1em
		transform: scaleX(1) scaleY(1) scaleZ(1) skewX(16deg)


//------------
// BREADCRUMBS
//------------

.nav-breadcrumbs
	list-style-type: none
	overflow: hidden
	margin: 1em 0
	text-align: center
	font-weight: 600
	width: 100%
	font-size: 1.15em
	word-wrap: break-word

.nav-breadcrumbs li
	font-family: headline
	font-weight: 600
	word-break: keep-all

.nav-home
	display: inline-block

.nav-parent
	display: inline-block

.nav-parent a
	text-transform: capitalize

.nav-title
	display: inline-block
	line-height: 1.6em

.nav-slash
	color: bw9
	display: inline-block
	font-size: 1.1em
	font-family: headline
	font-weight: 700

//-----------
// NEWSLETTER
//-----------

.nav-newsletter
	position: absolute
	margin: 0 auto
	width: 95%
	bottom: 5em

.newsletter-signup
	background: none
	height: 100%
	margin: 20px
	margin-top: 10px

form
	overflow: auto
	margin: 0 auto !important
	width: 180px
	border: 0
	border-bottom: 1px solid bw9

input
	-webkit-appearance: none
	border-radius: 0

input.button
	text-align: center
	font-size: 1em
	height: 2.5em
	width: 5%
	float: right
	padding: 2px
	vertical-align: middle
	border-left: 0
	color: bw9
	font-weight: 600
	background: none
	outline: none
	-webkit-box-shadow: none
	box-shadow: none
	font-family: 'FontAwesome'
	border: 0

input.button:hover
	color: blue0

input.button:focus
	background: none
	outline: none

input[type='text'],
input[type='email']
	height: 2.8em
	border: 0
	background: none
	vertical-align: middle
	float:left
	width: 95%
	font-family: headline
	font-weight: 600
	font-size: 0.8em
	color: bw9
	transition: all 0.2s ease
	text-align: center

input[type='email']:focus
	outline: none

input[type='text']:focus
	display: none

placeholder
	color: bw9

placeholder:hover
	color: blue0


//-------------
// SOCIAL ICONS
//-------------

#nav-social
	text-align: center
	margin: 0 auto
	position: absolute
	bottom: 2em
	width: 95%

	.social-link-wrapper
		display: inline

		.social-link
			color: bw9
			text-decoration: none
			display: inline
			margin: 0 0.8em

			.social-link-icon:hover
				color: blue0

			.fa-file-text-o
				font-size: 0.9em 

			.el-rss
				font-size: 0.8em

