//-----
// LOGO
//-----

.logo-link-wrapper
	display: block
	position: fixed
	z-index: 200
	cursor: pointer
	opacity: 0.95
	top: 16px
	left: 16px
	width: 45px
	height: 45px

	.logo-link
		display: block
		border: 1px solid bw1
		transition: border t0
		fill: bw1
		transition: all t0
		background: none

		&.open,
		&:hover
			fill: white
			background: bw1
			border: 1px solid white


.site-wrapper
	transition: left .1s ease-in-out
	left: 0px

	&.open
		left: 250px

		.cover
			width: -webkit-calc(62% - 250px)
			width: -moz-calc(62% - 250px)
			width: calc(62% - 250px)

		.meta-wrapper
			right: 250px

		.single-wrapper-solo,
		.taxonomy-wrapper,
		.list-wrapper
			h2
				margin: 0.15em 0 0 calc(4em - 250px)
				opacity: 0

	.single-wrapper-solo,
	.taxonomy-wrapper,
	.list-wrapper
		h2
			position: absolute
			margin: 0.15em 0 0 4em
			opacity: 1
			transition: all .1s ease-in-out



@media (max-width: large-width)
	.site-wrapper
		.single-wrapper-solo,
		.taxonomy-wrapper,
		.list-wrapper
			h2
				margin: 0.3em 0 0 4em
				opacity: 1
				transition: all .1s ease-in-out

	.site-wrapper.open
		.single-wrapper-solo,
		.taxonomy-wrapper,
		.list-wrapper
			h2
				margin: 0.3em 0 0 calc(4em - 250px)
				opacity: 0

@media (max-width: large-width)
	.site-wrapper
		.single-wrapper-solo,
		.taxonomy-wrapper,
		.list-wrapper
			h2
				transition: none

// LOGO SMALL-WIDTH
@media (max-width: small-width)
	.site-wrapper.open  // freeze small-width site
		overflow: hidden
		margin-left: 0

		.cover
			width: 100% !important

		.meta-wrapper
			right: 0 !important

	// iOS hover fix
	.logo-link-wrapper .logo-link
		&:hover
			border: 1px solid bw1
			fill: bw1
			background: none

		&.open
			border: 1px solid white
			fill: white
			background: none

			&:hover
				border: 1px solid white
				fill: white
				background: none

	// defaults
	.logo-link-wrapper.no-touch .logo-link
		&:hover
			border: 1px solid bw1
			fill: white
			background: bw1

		&.open
			border: 1px solid white
			fill: white
			background: none

			&:hover
				border: 1px solid white
				fill: bw1
				background: white


//-----
// MENU
//-----

.nav-wrapper
	z-index: 100
	overflow: hidden
	box-sizing: border-box
	padding-right: 1em
	padding: 0
	position: fixed
	bottom: 0
	top: 0
	left: 0
	right: 0
	margin: 0
	padding: 0
	height: 100% !important
	width: 100% !important
	z-index: -50

	&.open
		z-index: 1

		.nav
			margin-left: 0px

		.nav-background
			position: fixed
			z-index: 0
			width: 100%
			height: 100%

	.nav
		z-index: 1
		position: fixed
		display: block
		margin-left: -250px
		height: 100%
		width: 250px
		transition: margin-left 0.1s ease-in-out
		min-height: 550px
		overflow-y: auto

		.nav-fill
			background: bw1
			opacity: 0.98
			width: 100%
			height: 100%
			position: absolute
			z-index: -1
			border: 1px solid bw2

		.nav-background
			position: fixed
			z-index: 0
			width: 0
			height: 0

		.nav-overlay
			z-index: 2
			margin: 80px 0px 0px 0px

			ul
				margin: 1.5em 1em
				display: inline-block

				li
					list-style-type: none
					transition: background t0
					transition: border t0
					background: rgb(237, 237, 237)
					background: rgba(255, 255, 255, 0)

					a
						text-decoration: none
						margin: 0
						transition: color t0
						color: white
						font-weight: 500
						font-size: $f14
						text-decoration: none
						display: block

			.nav-links
				transform: translateY(5%)
				margin-top: 0.3em
				padding-left: 0.4em

				ul
					display: inline-block
					margin: 0.4em 4em 0.4em 0.95em

					li
						margin: 0

						a
							color: white
							padding: 0.25em 0.35em 0.35em 0.35em
							font-family: headline
							font-weight: 600

							&:hover
								color: bw5

				.nav-spacer
					height: 0
					width: 1%
					margin-left: 1.4rem
					border-top: 2px solid bw3

			.nav-social
				text-align: center
				margin: 0 auto
				width: calc(100% - 32px)
				position: absolute
				bottom: 1.5em

				.social-link-wrapper
					display: inline

					.social-link
						color: white
						text-decoration: none
						display: inline
						margin: 0 0.65em

						.social-link-icon
							transition: color t0

							&:hover
								color: bw5

			.nav-newsletter
				position: absolute
				margin: 0 auto
				width: calc(100% - 32px)
				bottom: 3.5em

				.newsletter-signup
					background: none
					height: 100%
					margin: 20px
					margin-top: 10px

				form
					overflow: auto
					margin: 0 auto !important
					width: 180px
					border: 0
					border-bottom: 1px solid white

					.honeypot
						position: absolute
						left: -5000px

				input
					-webkit-appearance: none
					border-radius: 0

					&[type='email']
						height: 3rem
						background: none
						vertical-align: middle
						float: left
						width: 95%
						font-family: headline
						font-weight: 600
						font-size: 0.85rem
						color: white
						outline: none
						border: 0
						padding-left: 10px
						text-align: center

					+placeholder()
						text-align: center
						color: white

					&.button
						text-align: center
						font-size: 1.1em
						height: 2.9em
						width: 5%
						float: right
						padding: 2px
						vertical-align: middle
						border-left: 0
						color: white
						font-weight: 600
						background: none
						outline: none
						-webkit-box-shadow: none
						box-shadow: none
						font-family: 'FontAwesome'
						border: 0

						&:hover
							color: bw5
							background: none
							outline: none



// MENU LARGE-WIDTH
@media (max-width: large-width)
	.nav-wrapper

		.nav .nav-overlay
			padding: 0
			margin: 0


// MENU SMALL-WIDTH
@media (max-width: small-width)
	.nav-wrapper
		display: none

		&.open
			position: fixed
			bottom: 0
			top: 0
			left: 0
			right: 0
			margin: 0
			padding: 0
			height: 100%
			width: 100%
			display: block

			.nav
				transform: translateY(0%)

		.nav
			transform: translateY(0%)
			z-index: 1
			position: fixed
			display: absolute
			margin: 0
			right: 0
			top: 0
			height: 100%
			width: 100%
			min-height: 400px

			.nav-overlay
				padding-top: 0
				margin: 1em !important

				.nav-links
					transform: translateY(2%)
					text-align: center
					padding-left: 0

					ul
						margin: 0

						li
							margin:0

							a
								font-size: $f10
								padding: 0.1em 0.2em 0.3em 0.2em

					.nav-spacer
						margin: 0.5em auto

				.nav-newsletter
					bottom: 3.7em

					input
						&[type='email']
							height: 3.7em
							font-size: 1em

						&.button
							font-size: 1.4em
							height: 2.5em
							margin-top: 0.1em
