.center
	width: 100%
	clear: both
	display: block

.center-inner
	margin: 0 auto

	*
		max-width: default-width-inner
		margin-left: auto
		margin-right: auto

.single-wrap
	width: 100%
	z-index: 1

	.single-content
		padding: 0

		.text-body
			a
				text-decoration: none !important
				color: bw1
				word-break: break-word
				transition: box-shadow t0
				box-shadow: inset 0 -0.1em 0 0 bw7

				&:hover
					box-shadow: inset 0 -0.1em 0 0 bw3

	.txt
		margin: 0 auto

	.feat
		text-align: center

		.popup
			display: inline-block
			position: relative
			top: 0.7em
			font-size: 130%
			text-align: center
			text-decoration: none
			padding: 0 1em

	.share
		text-align: right

	ul
		padding-left: 1em
		list-style-type: circle

	ul,
	ol
		margin: 2em auto

		li
		margin-bottom: .5em

		ul li
			margin-left: 2em
			list-style: square

	.block
		ul,
		ol
			margin: 1em auto

			li
				margin-left: 1em
				padding-left: 0.3em
				font-size: 0.9em
				font-weight: 600

@media (max-width: small-width)

	.single-wrap .feat .popup
		font-size: 150%

.init
	float: left
	margin: 5px 20px 0px 0px
	padding: 0px 18px 7px 18px
	font-size: 4.3em
	font-family: headline
	font-weight: 800
	color: bw1
	line-height: 1
	text-indent: 0
	background: white

p + .init
	text-indent: 0
	margin-top: 0

.spacer
	text-align: center
	margin: 35px auto 40px auto
	letter-spacing: 1em
	font-size: 0.8em

@media (max-width: large-width)
	.center-inner
		margin: 0 auto
		width: large-width-inner

@media (max-width: small-width)
	.center-inner
		margin: 0 5%
		width: small-width-inner

	.list-wrap .single-content
		padding-bottom: 3.5em

	.single-wrap .feat .popup
		font-size: 150%


//-----------
// ANNOTATION
//-----------

sup
	top: -.4em
	font-size: 80%
	line-height: 0
	position: relative
	vertical-align: baseline
	padding-left: 0.1em

sub
	bottom: -.25em
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline

.foot-hr
	margin-top: 1.5em
	border-style: solid
	border-color: bw1

// body anchor
.footnote-ref a
	text-decoration: none
	color: blue0
	padding: 0 0.2em
	font-weight: 500
	box-shadow: none !important

// footnote anchor
.footnote-return
	text-decoration: none
	font-size: 90%
	font-weight: 700 !important
	top: -.1em !important
	line-height: 0
	position: relative
	vertical-align: baseline
	box-shadow: none !important

	a
		color: blue0 !important
		font-weight: 700 !important
		box-shadow: none !important

.footnote-ref,
.footnote-return
	a:hover
		box-shadow: none !important

.footnote-ref,
.footnote-return
	a:hover
		color: bw1 !important


.footnotes
	padding: 0
	font-size: 0.9em

	&,
	a,
	ol li,
	ul li
		font-family: headline
		font-weight: 500
		color: bw1

	h3
		margin-top: 1.5em

	a
		color: bw1

	hr
		display: none

	ol,
	ul
		padding-left: 1.2em
		margin: 1em 0

		li
			padding-left: 0.2em
			
			p
				font-size: inherit
				margin: 0
				line-height: 1.2em
				margin-bottom: 0.6em

	ul li + li
		padding-top: 0.4em

legend
	border: 0
	padding: 0

.box
	margin: 10px
	font: 16px 'Courier New'
	background-color: white
	color: bw9
	margin: 5px 0 0 15px
	padding: 5px 10px
	width: auto

.caption
	font-size: 0.9em
	padding: 1em
	font-family: headline
	font-weight: 500
	color: bw4
	margin: 0 auto
	text-align: center

::after,
::before
	box-sizing: border-box

small
	font-size: 60%

li
	font-size: 0.9em
	font-family: text
	font-weight: 500


//--------------
// PAGE ELEMENTS
//--------------

.single-wrap
	.block
		font-size: 1em
		font-family: headline
		font-weight: 600
		color: bw1
		border-left: 10px solid bw1
		padding: 0 0 0 1.4em
		margin: 1.5em auto
		line-height: 1.5em

		p
			margin: 0.5em 0 0.5em 0
			line-height: 155%
			padding-left: 0 !important
			padding-right: 0 !important

		p + p
			margin: 0.8em 0 0.5em 0

.block-inner
	line-height: 165%
	text-align: right

	p,a
		font-size: 0.9em

	p
		margin-top: 0.5em

		a
			font-size: 1em

@media (max-width: large-width)
	.single-wrap .block
		margin-left: 0

blockquote
	font-size: 1.8em
	font-family: headline
	font-weight: 800
	padding: 0 0 0 0
	margin: 1em 5% 1.5em 5%
	color: rgba(0, 0, 0, 0)
	text-stroke: 1px bw1

	p
		margin: 0
		line-height: 1.5em
