#site-map
	width: 100%
	z-index: 100
	height: 100vh

//-----
// LOGO
//-----

#site-map-logo
	position: fixed
	top: 10px
	width: 100%
	transition: width t0
	z-index: 250

	.logo
		position: absolute
		left: calc(50% - 32px)
		display: block
		width: 64px

	path
		transition: all t0

	#a
		fill: white

	#circle
		fill: none

	#fill
		fill: bw1
		opacity: 0.1

	&:hover
		#a
			fill: bw1

		#circle
			fill: none

		#fill
			fill: white
			opacity: 0.5

//------
// links
//------

.site-map-base-links
	position: fixed
	margin: 0 auto
	transition: width t0
	width: 25%
	opacity: 1
	z-index: 101

	li
		height: 25vh
		list-style-type: none
		margin: 0 auto

		span
			white-space: nowrap
			color: bw1
			font-family: programm
			font-weight: 400
			font-size: 4rem
			display: inline-block

		a
			white-space: nowrap
			display: inline-block
			color: bw1
			font-family: programm
			font-weight: 400
			font-size: 4rem
			position: relative
			top: 50%
			transform: translateY(-50%)
			transition: box-shadow t0
			box-shadow: inset 0 -0.08em 0 0 rgba(26, 26, 26, 0)

			&:hover
				box-shadow: inset 0 -0.08em 0 0 rgba(26, 26, 26, 1)

@media (max-width: medium-width)
	.site-map-base-links
		width: 33%

		li a, li span
			font-size: 2em

#date
	display: block
	position: absolute
	top: 92%
	width: 100%
	text-align: center
	font-family: headline
	font-weight: 500

#site-map-type
	left: 3em
	text-align: left

#site-map-meta
	right: 3em
	text-align: right

	li li
		line-height: 1.5rem
		height: 1.5rem
		font-size: 1.5rem
		display: block
		margin-bottom: 0.4rem

		a
			font-size: f16

#site-map-type.hide
	left: -25%
	-webkit-transition: left 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	   -moz-transition: left 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	     -o-transition: left 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	        transition: left 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	-webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	   -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	     -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	        transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	opacity: 0

#site-map-meta.hide
	right: -25%
	-webkit-transition: right 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	   -moz-transition: right 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	     -o-transition: right 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	        transition: right 800ms cubic-bezier(0.950, 0.050, 0.795, 0.035), opacity t1
	-webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	   -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	     -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	        transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035)
	opacity: 0



#site-map-meta
	&.thread li .thread,
	&.tag li .tag,
	&.author li .author,
	&.editor li .editor
		transform: translateY(-50%)
		box-shadow: inset 0 -0.08em 0 0 rgba(26, 26, 26, 1)

#site-map-type
	&.project li .project,
	&.artifact li .artifact,
	&.event li .event,
	&.gallery li .gallery
		transform: translateY(-50%)
		box-shadow: inset 0 -0.08em 0 0 rgba(26, 26, 26, 1)



//-------
// splash
//-------

#splash
	width: 60%
	margin: 0 auto
	display: block
	position: relative
	top: 50%
	transform: translateY(-50%)

.imprint
	width: 40%
	display: inline-block
	padding: 0 3em

	li
		list-style-type: none
		padding-bottom: 0.2em

	ul,p
		padding-bottom: 1em

	h1
		font-family: headline
		margin: 0 0 0.3em 0

#imprint-program
	float: left

#imprint-mast
	float: right

.cover-img
	width: 100%
	margin: 0 auto
	display: block

//------------
// site map hr
//------------

#site-map-hr
	width: 900px
	margin: 0 auto
	background: bw1

@media (max-width: large-width)
	#site-map-hr
		width: 600px

@media (max-width: medium-width)
	#site-map-hr
		width: 300px


