.breadcrumbs
	position: absolute
	left: 9rem
	margin: 2.6rem 0

.single-wrap
	.meta-wrapper
		position: absolute
		top: 14%
		right 0
		width: 28%
		padding-right: 6.5%
		transition: left .1s ease-in-out

		.meta
			margin-top: 0.5em

			.page-title
				font-size: 1.25em
				margin: 0 0 0.8em 0em

			.meta-block
				display: block
				font-family: headline
				font-weight: 700
				padding: 0.2em 0
				max-width: 70%
				margin: 0

				ul li a
					white-space: nowrap
					font-family: headline

				.date
					font-size: 0.8em
					margin: 0
					font-weight: 700
					color: bw4
					list-style: none

				.author
					margin: 1em 0 1em 0
					padding: 0
					list-style: none

					li
						margin-top: 0.3em

						a
							margin: 1em 0
							font-size: 1em
							font-weight: 700
							transition: color t0

							&:hover
								color: bw4

				.thread-tag
					display: inline
					text-align: left
					padding: 0
					list-style: none

					li
						margin: 1.2em 0
						padding: 0

						a
							display: inline
							margin: 0
							padding: 6px 6px 6px 6px
							font-size: 0.95em
							
							text-decoration: none
							box-shadow: none
							font-weight: 700
							line-height: 1.2em

					.thread
						margin: 0.5em 0 0 0

						a
							color: bw1
							font-size: 0.8em
							background: bw10
							border: solid 1px bw1
							transition: background t0

							&:hover
								color: white
								background: bw1
								box-shadow: none
								border: solid 1px bw1

					.tag

						a
							font-size: 0.8em
							color: bw4
							background: white
							border: solid 1px white

							&:hover
								color: bw1
								background: white
								box-shadow: none
								border: solid 1px white

	.splash-spacer
		margin: 2.5% auto
		text-align: center
		letter-spacing: 0.5em
		font-family: headline
		font-weight: 700
		min-height: 3em
		transform: translateY(25%)


	// LARGE-WIDTH
	@media (max-width: large-width)
		.meta-wrapper
			margin: 1em auto
			width: 90%
			padding-right: 0
			width: 100%
			margin-top: 1.5em
			position: relative

			.meta
				margin-top: 0.5em

				.page-title
					text-align: center
					font-size: 1.5em
					margin: 1.5em auto 0.5em auto
					width: 90%

				.meta-block
					margin: 0.5em auto
					text-align: center

					.author,
					.date
						text-align: center
						margin: 0.5em auto

					.author li a
						font-size: 1.2em

					.date time
						font-size: 1.2em

					.thread-tag
						display: inline-block
						text-align: center
						margin: 0 auto

						.thread,
						.tag
							margin: 0.5em

							a
								font-size: 0.9em
								display: inline-block
								margin: 0


	// SMALL-WIDTH
	@media (max-width: small-width)
		.meta-wrapper
			text-align: center
			position: relative
