.taxonomy-wrapper
	.single-wrap
		main
			margin-bottom: 20px

			article
				max-width: 650px
				display: block
				margin: 0 auto
				padding-bottom: 92px
				box-shadow: 0px 20px 0px -18px white

				.breadcrumbs
					display: none

			.cover
				width: 90%

@media (max-width: large-width)
	.taxonomy-wrapper
		.single-wrap
			main article
					max-width: 650px

.single-wrap
	.meta-wrapper
		position: absolute
		top: 130px
		left: calc(100% - 340px)
		transition: left .1s ease-in-out

		.meta
			margin-top: 0.5em

			.page-title
				font-size: f12
				margin: 0 0 0.8em 0em

			.meta-block
				display: block
				font-family: headline
				font-weight: 700
				padding: 0.2em 0
				margin: 0

				ul li a
					white-space: nowrap
					font-family: headline

				.date
					font-size: f13
					margin: 0.5rem 0
					font-weight: 700
					color: bw4
					list-style: none

				.author
					margin: 0
					padding: 0
					list-style: none

					li
						margin-top: 0.3em

						a
							margin: 1rem 0
							font-size: f17
							font-weight: 700
							transition: color t0
							box-shadow: none

							&:hover
								color: bw4

				.thread-tag
					display: inline
					text-align: left
					list-style: none
					padding: 0
					margin-top: 1.5rem
					display: block

					li
						margin: 2.5rem 0
						padding: 0

						a
							display: inline
							margin: 0
							padding: 6px 7px 7px 7px
							font-size: f13
							text-decoration: none
							box-shadow: none
							font-weight: 700
							line-height: 1.2rem

					.thread
						margin: 0.5em 0 0 0

						a
							color: bw1
							background: bw10
							border: solid 2px white
							transition: background t0, border t0

							&:hover
								background: bw8
								border: solid 2px bw8

					.tag

						a
							color: bw1
							background: white
							border: solid 1px white
							transition: background t0, border t0

							&:hover
								background: bw8
								border: solid 1px bw8

	.splash-spacer
		letter-spacing: 0.5rem
		font-family: headline
		font-weight: 700
		min-height: 3rem
		transform: translateY(25%)


	// LARGE-WIDTH
	@media (max-width: large-width)
		.meta-wrapper
			margin: 1em auto 0 auto
			width: 90%
			padding-right: 0
			width: 100%
			margin-top: 1.5rem
			position: relative
			left: 0
			top: 30px

			.meta
				margin-top: 0.5rem

				.page-title
					text-align: center
					font-size: f18
					margin: 1.5rem auto 0.5rem auto
					width: 90%

				.meta-block
					margin: 0 auto
					text-align: center

					.author,
					.date
						text-align: center
						margin: 1rem auto

					.author li a
						font-size: f18

					.date time
						font-size: f12

					.thread-tag
						display: inline-block
						text-align: center
						margin: 0.5rem auto

						.thread,
						.tag
							margin: 0.8rem

							a
								font-size: f12
								display: inline-block
								margin: 0


	// SMALL-WIDTH
	@media (max-width: small-width)
		.meta-wrapper
			text-align: center
			position: relative

