#home.taxonomy-wrapper .items
	top: 100px

.terms-list.multi-col
	column-count: 3
	margin: 0
	padding: 0
	min-height: 60%

	ul
		list-style: inside none
		column-break-inside: avoid
		page-break-inside: avoid
		column-fill: balance
		display: inline-block
		width: 100%
		padding: 2rem

		.list-title
			color: bw1
			font-family: headline
			font-weight: 500
			border-bottom: solid 2px bw1
			padding: 0 0 0.4rem 1.5rem
			margin-bottom: 0.5rem

		.term-title
			transition: color t0
			font-family: text
			font-weight: 400

			&:hover
				underline: white bw1

		li
			display: block
			white-space: nowrap
			line-height: 2rem
			font-size: f14

		.term-number
			float: right
			font-family: headline
			font-weight: 400


@media (max-width: large-width)
	.terms-list.multi-col
		column-count: 2

@media (max-width: medium-width)
	.terms-list.multi-col
		column-count: 1