
.taxonomy-list
	margin: 0 0 5em 5.5em
	min-height: 60%

	ul
		margin-top: 20px
		padding-top: 3em

		li
			list-style-type: circle

			a
				font-weight: 600
				font-family: headline

			span
				font-weight: 500
				font-family: headline
				font-size: 0.8em
				color: bw5

@media (max-width: large-width)
	.taxonomy-list ul
		padding-top: 4em