

//------
// fonts
//------

headline = 'Tiempos Headline', 'Times New Roman', serif
text = 'Tiempos Text', 'Times New Roman', serif
programm = 'Gerstner Programm', Helvetica, san-serif


//-------
// colors
//-------

// black - white pallete
white = #ffffff // 100%
bw10 = #ededed // 93% - site background
bw9 = #e6e6e6 // 90%
bw8 = #cccccc // 80%
bw7 = #b3b3b3 // 70%
bw6 = #999999 // 60%
bw5 = #808080 // 50%
bw4 = #666666 // 40%
bw3 = #4d4d4d // 30%
bw2 = #333333 // 20%
bw1 = #1a1a1a // 10% - site text
black = #000000 // 0%

// blue palette
blue0 = #33339C
blue0-rgb = rgb(40, 40, 120)
blue0-rgba = rgba(40, 40, 120, 0.2)

blue1 = #AAAADC
blue1-rgb = rgb(170, 170, 220)
blue1-rgba = rgba(170, 170, 220, 0.2)

red0 = #E2543D

//------
// sizes
//------

html
	font-size: 62.5%

f40 = 40px 4rem
f39 = 39px 3.9rem
f38 = 38px 3.8rem
f37 = 37px 3.7rem
f36 = 36px 3.6rem
f35 = 35px 3.5rem
f34 = 34px 3.4rem
f33 = 33px 3.3rem
f32 = 32px 3.2rem
f31 = 31px 3.1rem
f30 = 30px 3rem
f29 = 29px 2.9rem
f28 = 28px 2.8rem
f27 = 27px 2.7rem
f26 = 26px 2.6rem
f25 = 25px 2.5rem
f24 = 24px 2.4rem
f23 = 23px 2.3rem
f22 = 22px 2.2rem
f21 = 21px 2.1rem
f20 = 20px 2rem
f19 = 19px 1.9rem
f18 = 18px 1.8rem
f17 = 17px 1.7rem
f16 = 16px 1.6rem
f15 = 15px 1.5rem
f14 = 14px 1.4rem
f13 = 13px 1.3rem
f12 = 12px 1.2rem
f11 = 11px 1.1rem
f10 = 10px 1rem


default-width-inner = 500px
large-width-inner = 410px
small-width-inner = 90%


//------------
// transitions
//------------

t0 = 0.03s ease-in-out
t1 = 0.2s ease-in-out


//-----------------------
// media querry variables
//-----------------------

small-width = 480px
medium-width = 768px
large-width = 1024px


//-------
// mixins
//-------

// components

underline(primary, secondary)
	text-decoration: none
	transition: box-shadow t0
	box-shadow: inset 0 0.1em 0 0 bw10, inset 0 -0.15em 0 0 primary

	&:hover
		box-shadow: inset 0 0.1em 0 0 bw10, inset 0 -0.15em 0 0 secondary

// selectors

selection()
	&::selection
		{block}
	&:-moz-selection
		{block}

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


ms-opacity()
	@css {
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=arguments);
	}

// properties

column-break-inside()
	-webkit-column-break-inside: arguments
	column-break-inside: arguments

column-fill()
	-webkit-column-fill: arguments
	-moz-column-fill: arguments
	column-fill: arguments

column-gap()
	-webkit-column-gap: arguments
	-moz-column-gap: arguments
	column-gap: arguments

column-rule-width()
	-webkit-column-rule-width: arguments
	-moz-column-rule-width: arguments
	column-rule-width: arguments

column-rule-style()
	-webkit-column-rule-style: arguments
	-moz-column-rule-style: arguments
	column-rule-style: arguments

column-rule-color()
	-webkit-column-rule-color: arguments
	-moz-column-rule-color: arguments
	column-rule-color: arguments

font-feature-settings()
	-webkit-font-feature-settings: arguments
	-moz-font-feature-settings: arguments
	font-feature-settings: arguments

font-variant-ligatures()
	-webkit-font-variant-ligatures: arguments
	font-variant-ligatures: arguments

font-variant-numeric()
	-webkit-font-variant-numeric: arguments
	font-variant-numeric: arguments

font-variant-caps()
	-webkit-font-variant-caps: arguments
	font-variant-caps: arguments

font-size()
	for size in arguments
		font-size: size

hyphens()
	-webkit-hyphens: arguments
	-moz-hyphens: arguments
	-o-hyphens: arguments
	hyphens: arguments

animation-delay()
	-webkit-animation-delay: arguments
	-moz-animation-delay: arguments
	-o-animation-delay: arguments
	animation-delay: arguments

columns()
	-webkit-columns: arguments
	-moz-columns: arguments
	-o-columns: arguments
	columns: arguments

user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-khtml-user-select: arguments
	-o-user-select: arguments
	user-select: arguments

skew()
	-webkit-skew: arguments
	-moz-skew: arguments
	-o-skew: arguments
	skew: arguments

animation()
	-webkit-animation: arguments
	-moz-animation: arguments
	-o-animation: arguments
	animation: arguments

animation-delay()
	-webkit-animation-delay: arguments
	-moz-animation-delay: arguments
	-o-animation-delay: arguments
	animation-delay: arguments

border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	-o-border-radius: arguments
	border-radius: arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
	background-size arguments

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	-o-transform: arguments
	transform: arguments

transform-style()
	-webkit-transform-style: arguments
	-moz-transform-style: arguments
	-o-transform-style: arguments
	transform-style: arguments

text-stroke()
	-webkit-text-stroke: arguments
	-moz-text-stroke: arguments
	-o-text-stroke: arguments
	text-stroke: arguments

box-sizing()
	-webkit-box-sizing: arguments
	-moz-box-sizing: arguments
	-o-box-sizing: arguments
	box-sizing: arguments

user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-o-user-select: arguments
	user-select: arguments

pointer-events()
	-webkit-pointer-events: arguments
	-moz-pointer-events: arguments
	-o-pointer-events: arguments
	pointer-events: arguments

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments
	-o-transition: arguments
	transition: arguments

text-size-adjust()
	-webkit-text-size-adjust: arguments
	-moz-text-size-adjust: arguments
	-ms-text-size-adjust: arguments
	-o-text-size-adjust: arguments
	text-size-adjust: arguments
