//-------
// colors
//-------

// black - white pallete
white = #ffffff // 100%
bw10 = #ededed // 93%
bw9 = #e6e6e6 // 90%
bw8 = #cccccc // 80%
bw7 = #b3b3b3 // 70%
bw6 = #999999 // 60%
bw5 = #808080 // 50%
bw4 = #666666 // 40%
bw3 = #4d4d4d // 30%
bw2 = #333333 // 20%
bw1 = #1a1a1a // 10%
black = #000000 // 0%

// blue palette
blue0 = #2b4ab3

// social colors
github    = #2aa198
mail      = #cb4b17
instagram = #999999
facebook  = #4964a1
twitter   = #59adeb