//------
// fonts
//------

headline = 'Tiempos Headline', Georgia, serif
text = 'Tiempos Text', Georgia, serif


//-------
// colors
//-------

// black - white pallete
white = #ffffff // 100%
bw10 = #ededed // 93% - site background
bw9 = #e6e6e6 // 90%
bw8 = #cccccc // 80%
bw7 = #b3b3b3 // 70%
bw6 = #999999 // 60%
bw5 = #808080 // 50%
bw4 = #666666 // 40%
bw3 = #4d4d4d // 30%
bw2 = #333333 // 20%
bw1 = #1a1a1a // 10%
black = #000000 // 0%

// blue palette
blue0 = #6A6BAD //



//-----------------------
// media querry variables
//-----------------------

small-width = 320px
mid-width = 414px
large-width = 1024px


//-------
// mixins
//-------

placeholder()
	::-webkit-input-placeholder
		arguments

	:-moz-placeholder  // Firefox 18-
		arguments

	::-moz-placeholder  // Firefox 19+
		arguments

	:-ms-input-placeholder
		arguments

skew()
	-webkit-skew: arguments
	-moz-skew: arguments
	-o-skew: arguments
	skew: arguments

animation()
	-webkit-animation: arguments
	-moz-animation: arguments
	-o-animation: arguments
	animation: arguments

animation-delay()
	-webkit-animation-delay: arguments
	-moz-animation-delay: arguments
	-o-animation-delay: arguments
	animation-delay: arguments

border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	-o-border-radius: arguments
	border-radius: arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
	background-size arguments

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	-o-transform: arguments
	transform: arguments

transform-style()
	-webkit-transform-style: arguments
	-moz-transform-style: arguments
	-o-transform-style: arguments
	transform-style: arguments

text-stroke()
	-webkit-text-stroke: arguments
	-moz-text-stroke: arguments
	-o-text-stroke: arguments
	text-stroke: arguments

box-sizing()
	-webkit-box-sizing: arguments
	-moz-box-sizing: arguments
	-o-box-sizing: arguments
	box-sizing: arguments

user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-o-user-select: arguments
	user-select: arguments

pointer-events()
	-webkit-pointer-events: arguments
	-moz-pointer-events: arguments
	-o-pointer-events: arguments
	pointer-events: arguments

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-ms-transition: arguments
	-o-transition: arguments
	transition: arguments

text-size-adjust()
	-webkit-text-size-adjust: arguments
	-moz-text-size-adjust: arguments
	-ms-text-size-adjust: arguments
	-o-text-size-adjust: arguments
	text-size-adjust: arguments
