<div class="media-box audio-box {{ if .IsNamedParams }}{{ if .Get "class" }} {{ .Get "class" }}{{ end }}{{ end }}" {{ if .IsNamedParams }}{{ if .Get "style" }} style="{{ .Get "style" | safeCSS }}"{{ end }}{{ end }}>
<div class="media-box-inner">
<audio controls preload="auto" class="b-lazy single-audio" data-src="{{ .Get "url" }}" type="audio/mpeg" controls preload="auto">
<p>Your browser does not support the audio tag.</p>
</audio>
</div>
{{ if .Inner  }}<div class="media-text donthyphenate"><p>{{ .Inner }}</p></div>{{ end }}
</div>